<br>
<h3>Relevé de compte</h3>
Famille: <%= link_to @famille.nom, :action => 'show', :id => @famille.id %>
<br><br>

<table class="sample">
  <tr>
    <th>Date</th><th>Type</th><th>Référence</th><th>Débit</th><th>Crédit</th><th>Solde</th><th />
  </tr>
  <% for l in @releve.sort { |a,b| a[:date] <=> b[:date] } %>
     <tr>
        <td><%= l[:date].to_s(:fr) %></td>
        <td><%= l[:type] %></td>
        <td><%= l[:ref]  %></td>
		<% @montant = l[:mnt] || 0 %>
        <% if l[:type] == "Facture" %>
           <% @solde -= @montant %>
           <% @debit += @montant %>
           <td id="number"> <%= number_to_currency(@montant, :locale => "fr")  %> </td><td></td>
           <td id="number"> <%= number_to_currency(@solde, :locale => "fr") %> </td>
           <td><%= link_to "Détails", :controller => "factures", :action => 'print', :id => l[:id] %></td>	
        <% else %>
           <% @solde += @montant %>
           <% @credit += @montant %>
           <td></td><td id="number"> <%= number_to_currency(@montant, :locale => "fr") %> </td>
           <td id="number"> <%= number_to_currency(@solde, :locale => "fr") %> </td>
           <td><%= link_to "Détails", :controller => "paiements", :action => 'show', :id => l[:id] %></td>	
       <% end %>
     </tr>
  <% end %>
  <tr /><tr />
  <tr>
    <td><%= Date.today.to_s(:fr) %></td>
    <td><b>Solde à ce jour</b></td>
	<td />
    <td id="number"><%= number_to_currency(@debit, :locale => "fr") %> </td>
    <td id="number"><%= number_to_currency(@credit, :locale => "fr") %> </td>
    <td id="sum">   <%= number_to_currency(@solde, :locale => "fr") %> </td>
  </tr>
</table>
