<div id="form_actions"></div>
<br>
<h3><%=h @famille.nom.upcase %></h3>

<div class="span-10">
    <table>
      <tr />
      <tr>
        <td>Nom</td>
        <td><b><%=h @famille.nom.upcase %></b></td>
      </tr>
      <tr>
        <td>Civilité</td>
        <td><b><%=h @famille.civilité %></b></td>
      </tr>
      <tr>
        <td>Adresse</td>
        <td><b><%=h @famille.adresse %></b></td>
      </tr>
      <tr>
        <td>Adresse</td>
        <td><b><%=h @famille.adresse2 %></b></td>
      </tr>
      <tr>
        <td>Ville</td>
        <td><b><%=h @famille.cp %> <%=h @famille.ville.upcase %></b></td>
      </tr>
	    <tr>
        <td>N°Allocataire</td>
        <td><b><%=h @famille.allocataire %> </b></td>
      </tr>          
	   <tr>
        <td>Téléphone fixe</td>
        <td><b><%=h @famille.readable_phone if @famille.phone %></b></td>
      </tr>
      <tr>
        <td>Mob Maman/Papa</td>
        <td><b><%= @famille.readable_mobile1 if @famille.mobile1 %> / <%= @famille.readable_mobile2 if @famille.mobile2 %></b></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><b><%= mail_to @famille.email %></b></td>
      </tr>
      <tr>
        <td>N°Allocataire</td>
        <td><b><%=h @famille.allocataire %> </b></td>
      </tr>          
      <tr>
        <td>Tarif ou QF</td>
        <td>
          <% if @famille.tarif_id %>
             <%= Tarif.find(@famille.tarif_id).memo %> 
          <% else %>
             Automatique
          <% end %>
        </td>
      </tr>
    </table>
    <% if session[:user_readwrite] %>
    	<%= link_to "Modifier", edit_famille_path(@famille) %> |
      <%= link_to("[X]", @famille, data: { confirm:'Certain(e) de vouloir supprimer cette fiche famille et toutes les données associées (enfants, prestations) ?' } , method: :delete) %> 	  
    <% end %>
    <br /><br />
</div>

<div class="span-2"> <br>	</div>
    <div class="span-10 last">
        <table>
            <tr>
              <th>Total Factures</th>
              <th>Total Paiements</th>
              <th>Solde de la famille</th>
            </tr>
            <tr>
              <td id="sum">
                  <%= link_to number_to_currency(@sumP, :locale => "fr"), :controller => 'factures', :action => 'index', :famille_id => @famille  %>
              </td>
              <td id="sum">
                  <%= link_to number_to_currency(@sumIn, :locale => "fr"), :controller => 'paiements', :action => 'index', :famille_id => @famille %>
              </td>
              <td id="sum">
                  <%= link_to number_to_currency(@solde, :locale => "fr"), :action => 'balance', :id => @famille.id  %>
              </td>
            </tr>
          </table>
	      |
        <%= link_to 'Facturer', :controller => 'factures', :action => 'new', :famille_id => @famille if session[:user_readwrite] %>
        |
        <%= link_to 'Encaisser', :controller => 'paiements', :action => 'new', :famille_id => @famille if session[:user_readwrite] %>
	      |
		    <%= link_to 'Relevé de compte', :action => 'balance', :id => @famille.id  %>
      	| <br><br>
		    <% if @facture %>
          	Dernière facture: 
		        <%= link_to @facture.ref, :controller => 'factures', :action => 'show', :id => @facture  %>
        <% end %>
		    <br>
      </td>
    </tr>
  </table>
   <br>
   <fieldset style="width: 92%;height:115px;">
       <legend>Mémo</legend>
   	   <%= @famille.memo %>
   </fieldset>
   <% unless @famille.lastconnection.nil? %>
      Dernière connexion au portail: il y a <%= time_ago_in_words(@famille.lastconnection) %>
   <% end %>
</div>

<div class="span-24 last">
  <br>
	  <h3>Enfants & Prestations non facturées</h3>
	  <table>
	    <tr>
        <th>Nom</th>
        <th>Prénom</th>
	      <th>Age</th>
	      <th>Classe</th>
	      <th>Référant</th>
	      <th>Repas</th>
	      <th>Garderie M.</th>
	      <th>Garderie S.</th>
	      <th>Centre M.</th>
	      <th>Centre S.</th>
	      <th>Etude</th>
	      <% if session[:user_readwrite] %><th>Inscription</th><% end %>
	    </tr>

	    <% for enfant in @famille.enfants %>
	      <tr class="<%= cycle('list-line-even','list-line-odd') %>">
            <td><%= enfant.nomfamille %></td>
            <td><b><%=link_to enfant.prenom, enfant  %></b></td>
        		<td style="text-align:right"><%=h enfant.age %></td>
        		<td><%=h Classroom.find_by_id(enfant.classe).nom %></td>
        		<td><%=h Classroom.find_by_id(enfant.classe).referant %></td>
        		<% @prestas = enfant.prestations %>

        		<td style="text-align:right"><%=h @prestas._repas.afacturer.count('id') %>       </td>
        		<td style="text-align:right"><%=h @prestas._garderieAM.afacturer.count('id') %>  </td>
        		<td style="text-align:right"><%=h @prestas._garderiePM.afacturer.count('id') %>  </td>
        		<td style="text-align:right"><%=h @prestas._centrePM.afacturer.count('id')   %>  </td>
        		<td style="text-align:right"><%=h @prestas._garderiePM.afacturer.count('id') %>  </td>
        		<td style="text-align:right"><%=h @prestas._etude.afacturer.count('id') %>       </td>
        		<% if session[:user_readwrite] %>
        		    <td><%= link_to "Manuelle", :controller => 'prestations', :action => 'new_manual', :mois => Date.today.month , :id  => enfant.id, :year => Date.today.year %>
        		    <%= link_to "Auto", :controller => 'prestations', :action => 'new', :enfant_id  => enfant.id %></td>
        		<% end %>
	      </tr>
	    <% end %>
	  </table>

 	<% if session[:user_readwrite] %>
		<%=link_to "Ajouter un enfant", :controller => 'enfants', :action => 'new', :famille_id => @famille %>
		<% if @famille.enfants.size >0 %>
		    | Inscription groupée des enfants:
        	<%= link_to "Manuelle", :controller => 'prestations', :action => 'new_manual', :famille_id => @famille, 
				:mois => Date.today.month , :year => Date.today.year, :id => 0 %>
       		ou <%= link_to "Automatique", :controller => 'prestations', :action => 'new', :famille_id => @famille %>
	  <% end %>
  <% end %>
	<br><br> 
</div>



