<br><br>

<h3>Liste des Classes</h3>

<table>
  <tr>
    <th>Nom</th>
    <th>Référant</th>
    <th>Elèves</th>
  </tr>

  <% for classroom in @classrooms %>
    <tr class="<%= cycle('list-line-even','list-line-odd') %>" >
      <td><b><%=h classroom.nom %></b></td>
      <td><%=h classroom.referant %></td>
      <td><%= Enfant.where(classe:classroom.id).count %> </td>
      <td><%= link_to image_tag('modif.png', size:"15x15"), edit_classroom_path(classroom) %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Ajouter', new_classroom_path %>  | <%= link_to 'Retour', :controller => 'admin', :action => 'setup' %>

