<%  if prestation.date != @date %>
    <% @date = prestation.date %>
    <tr />
<% end %>

<%  if prestation.enfant.classe != @classe %>
    <% @classe = prestation.enfant.classe %>
    <tr />
    <tr /> 
<% end %>

<tr class="<%= cycle('list-line-even','list-line-odd') %> ">
    <td><%=h format_date(prestation.date) %></td>
    <td><%=h Classroom.find(@classe).nom %> </td>
    <td><b><%=h Famille.find(enfant.famille_id).nom[0..20]  %></b></td>
    <td><%= link_to enfant.prenom[0..16], :controller => 'enfants', :action => 'show', :id => prestation.enfant_id %></td>
    <td class="center">
        <%= image_tag @images[prestation.repas.to_i], :size => '15x15'      if prestation.repas != "0" %>
    </td>
    <td class="center">
        <% if prestation.garderieAM != "0" %>
           <%= image_tag @images[prestation.garderieAM.to_i], :size => '15x15' %>
           <%= '1h' if (prestation.garderieAM == '1' or prestation.garderieAM == '5') %>
           <%= '1h30' if prestation.garderieAM == '6' %>
           <%= '2h' if prestation.garderieAM == '7' %>
        <% end %> 
    </td>
    <td class="center">
        <% if prestation.garderiePM != "0" %>
           <%= image_tag @images[prestation.garderiePM.to_i], :size => '15x15'  %>
           <%= '1h'   if (prestation.garderiePM == '1' or prestation.garderiePM == '5') %>
           <%= '1h30' if prestation.garderiePM == '6' %>
           <%= '2h'   if prestation.garderiePM == '7' %>
        <% end %>
    </td>
    <td class="center"><%= image_tag @images[prestation.centreAM.to_i], :size => '15x15'   if prestation.centreAM != "0" %> </td>
    <td class="center"><%= image_tag @images[prestation.centrePM.to_i], :size => '15x15'   if prestation.centrePM != "0" %> </td>
    <td class="center"><%= image_tag @images[prestation.etude.to_i], :size => '15x15'      if prestation.etude != "0" %> </td>

    <td>
         <% if enfant.age %>
           <%= 'A' if enfant.age > 15 -%>
        <% end %>
        <%= 'SP' if enfant.sansPorc -%>
        <%= 'ALG!' if enfant.allergies -%>

    </td>

    <% if session[:user_readwrite] and params[:action] != 'print' %>
       <td><%= link_to 'Modifier', :controller => 'prestations', :action => 'edit', :id => prestation %></td>
    <% end %>
</tr>
