<tr>
    <% @images = ["","ok.jpeg","no.jpeg","orange.jpeg","cancel.jpeg","ok.jpeg","ok.jpeg","ok.jpeg"] %>
    <td><%=h format_date(prestation.date) %></td>
    <td><%= link_to Enfant.find(prestation.enfant_id).prenom, :controller => 'enfants', :action => 'show', :id => prestation.enfant_id %></td>

    <td class="center"><%= image_tag @images[prestation.repas.to_i], :size => '15x15'      if prestation.repas != "0" %> </td>
    <td class="center"><%= image_tag @images[prestation.garderieAM.to_i], :size => '15x15' if prestation.garderieAM != "0" %> </td>
    <td class="center"><%= image_tag @images[prestation.garderiePM.to_i], :size => '15x15' if prestation.garderiePM != "0" %> </td>
    <td class="center"><%= image_tag @images[prestation.centreAM.to_i], :size => '15x15'   if prestation.centreAM != "0" %> </td>
    <td class="center"><%= image_tag @images[prestation.centrePM.to_i], :size => '15x15'   if prestation.centrePM != "0" %> </td>
    <td class="center"><%= image_tag @images[prestation.etude.to_i], :size => '15x15'      if prestation.etude != "0" %> </td>

</tr>
