<div id="form_actions">
	<%= form_tag request.path, :method => 'get' do %>
		Du:
	  	<%= text_field_tag('prestation_date', params[:prestation_date], :size => 5) %>

		Période:
		<%= radio_button_tag "periode", 'jour', (params[:periode] == 'jour') %> Jour
		<%= radio_button_tag "periode", 'semaine', (params[:periode] == 'semaine') %> Semaine
		<%= radio_button_tag "periode", 'mois', (params[:periode] == 'mois') %> Mois

		| Classe:
		<%= select_tag "classe", options_from_collection_for_select(@classrooms, "id", "nom", params[:classe]), :include_blank => true %>

		<%= submit_tag 'Afficher' %>
		<%= check_box_tag "totaux", params[:totaux], params[:totaux] %> Que les totaux?
		<%= submit_tag 'Saisie pointage', name: "pointage" %>

	    <span id="adroite">
		    <%= link_to "Editions", :action => 'editions', :search => params[:prestation_date], 
			:classe => params[:classe], :periode => params[:periode], :id => 0 %>
	
	    </span>
	<% end %>
</div>

<div class="span-24 last">
    <%= render :partial => "list", :locals => { :prestations => @prestations } %>
</div>
  

