<div id="form_actions">
	<%= form_tag request.path, :method => 'get' do %>
	  Pour le :
	  <%= text_field_tag('prestation_date', params[:prestation_date], :size => 5) %>
	  Classe :
	  <%= select_tag "classe", options_from_collection_for_select(@classrooms, "id", "nom", params[:classe]), :include_blank => true %>
	  <%= submit_tag 'Rechercher' %>
	  <%= check_box_tag "pointage",   params[:pointage],   params[:pointage] %> Pointage ?
	  <%= check_box_tag "toutlemois", params[:toutlemois], params[:toutlemois] %> Tout le mois ?
	  <%= check_box_tag "totaux", params[:totaux], params[:totaux] %> Que les totaux ?
	  <% if params[:action] != 'print' %>
		  <span id="adroite">
			   <%= link_to "Liste", :action => 'print', :search => params[:prestation_date], 
				:classe => params[:classe], :toutlemois => params[:toutlemois], :totaux => params[:totaux], :id => 0 %> 

			   <%= link_to "Etat mensuel", :action => 'stats_mensuelle_params', :id => 0 %> 
		  </span>
	  <% end %>
	<% end %>
</div>

<div class="span-24 last">
  <%= render :partial => "list", :locals => { :prestations => @prestations } %>
</div>
  

