<div id="form_actions">
  <h3>Inscription automatique</h3>
  Permet de générer facilement des inscriptions répétitives (mêmes prestations sur toute la semaine/le mois/l'année)
</div>
- Pour une seule journée: entrez la date et cochez les prestations voulues et validez.
<br>
- Pour une semaine: entrez la date de début et cochez les prestations voulues puis les jours souhaités.  
<br>
- Pour un mois: idem semaine plus cochez 'Répéter jusqu'à la fin du mois ?'
<br>
- Pour une année: idem semaine plus cochez 'Répéter jusqu'à la fin de l'année scolaire ?'
<br>
Si l'option "Inscrire en période scolaire" est coché, les incriptions seront faites sur les jours scolaires, aucune prestation ne sera donc ajoutée sur une période de vacances. 
(<%= link_to "Voir dates de vacances", "/admin/setup#vacances" %> )
<hr>

Enfant(s) :
<% for enfant in @enfants %>
    <%= link_to "#{enfant.prenom} #{enfant.nomfamille} (#{enfant.famille.nom})", enfant %>
<% end %>
<br><br>

<%= form_for(@prestation) do |f| %>
  <% @prestation.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end %>
  
  <table class="sample">
    <tr>
      <th>Journée(s)</th>
      <th>Repas</th>
      <th>Garderie Matin</th>
      <th>Garderie Soir</th>
      <th>Centre Matin</th>
      <th>Centre Soir</th>
      <th>Etude</th>
    </tr>

    <p style="display:none">
      <%= f.label :enfant_id %><br />
      <%= f.text_field :enfant_id %>
      <%= text_field_tag(:famille_id, params[:famille_id]) %> Famille id
    </p>

    <tr>
      <td>
        A partir du : 
		    <%= text_field_tag('prestation_date', params[:prestation_date], :size => 10) %>
      <td>
        <%= f.check_box :repas%>
      </td>
      <td>
        <%= f.check_box :garderieAM %>
      </td>
      <td>
        <%= f.check_box :garderiePM %>
      </td>
      <td>
        <%= f.check_box :centreAM %>
      </td>
       <td>
        <%= f.check_box :centrePM %>
      </td>
      <td>
        <%= f.check_box :etude %>
      </td>
    </tr>
  </table>

  <%= check_box_tag(:lundi, params[:lundi]) %>Lundi ?
  <%= check_box_tag(:mardi, params[:mardi]) %>Mardi ?
  <%= check_box_tag(:mercredi, params[:mercredi]) %>Mercredi ?
  <%= check_box_tag(:jeudi, params[:jeudi]) %>Jeudi ?
  <%= check_box_tag(:vendredi, params[:vendredi]) %>Vendredi ?
  <br><br>
  <%= check_box_tag(:toutlemois, params[:toutlemois]) %> Répéter jusqu'à la fin du mois ?
  <br><br>
  <%= check_box_tag(:toutelannee, params[:toutelannee]) %> Répéter jusqu'à la fin de l'année scolaire ?
  <br><br>
  <%= radio_button_tag(:en_vacances, "non", true) %> Inscriptions en période scolaire
  <%= radio_button_tag(:en_vacances, "oui", false) %> Inscriptions en période de vacances
  <br><br>
  <%= image_submit_tag "valider.gif" %>
  <br>  <br>
<% end %>

