<div id="form_actions">
	<h3>Pointage présences <%= Classroom.find(@classe).nom %> le <%= @date %></h3>

	Cocher la prestation voulue, elle sera automatique enregistrée comme étant effectuée. 
	Attention : Décocher une prestation ne la supprimera pas. 
</div>

<div style="color:green" id="msgzone"></div>

<%= form_for(Prestation.new, :remote => true, :url => { :controller => "prestations", :action => "new_manual_classroom_check"}) do |f| %>
	<table class="sample">
	    <tr>
	      <th>Nom</th>
	      <th>Prénom</th>
	      <th>Repas</th>
	      <th>Garderie Matin</th>
	      <th>Garderie Soir</th>
	      <th>Centre Matin</th>
	      <th>Centre Soir</th>
    	</tr>

	    <% @kids_to_show.each_with_index do |enfant, index| %>
			<% if @kids_to_show_presta[index] %>
				 <% @presta = @kids_to_show_presta[index] %>
			<% else %>
				 <% @presta = Prestation.new %>
			<% end %>	
			<tr>
			  <td><%= enfant.famille.nom %>
			  <td><%= link_to enfant.prenom, enfant_path(enfant.id) %>

			  <td><%= check_box_tag(:"#{enfant.id}RepasAM", params[:"#{enfant.id}RepasAM"], @presta ? (@presta.repas !="0") : false, 
				  { :onclick => "this.form.commit.click();" }) %></td>

			  <td><%= check_box_tag(:"#{enfant.id}GarderieAM", params[:"#{enfant.id}GarderieAM"], @presta ? (@presta.garderieAM !="0") : false,
				 { :onclick => "this.form.commit.click();" }) %></td>

			  <td><%= check_box_tag(:"#{enfant.id}GarderiePM", params[:"#{enfant.id}GarderiePM"], @presta ? (@presta.garderiePM !="0") : false,
				 { :onclick => "this.form.commit.click();" }) %></td>

			  <td><%= check_box_tag(:"#{enfant.id}CentreAM", params[:"#{enfant.id}CentreAM"], @presta ? (@presta.centreAM !="0") : false, 
				 { :onclick => "this.form.commit.click();"  }) %></td>

			  <td><%= check_box_tag(:"#{enfant.id}CentrePM", params[:"#{enfant.id}CentrePM"], @presta ? (@presta.centrePM !="0") : false, 
				 { :onclick => "this.form.commit.click();"  }) %></td>
			</tr>
		<% end %>
	</table>
	<div style="display:none">
		<%= f.submit "Enregistrer", :visible => false %>
	</div>
<% end %>


