<fieldset>
<% if @total > 0 %>
   <span style="color:green">
     <b>Total des prestations cochées: <%= number_to_currency(@total, :unit => "") %> € </b>
     <% if @tarif %>
        <% if @famille_id %>
          (Tarifs spéciaux appliqués, voir fiches enfants)
        <% else %>
          (Tarif: <%= @tarif.memo %>)
       <% end %>
     <% end %>
   </span>
     Solde famille AVANT cette inscription: <%=number_to_currency(@solde, :unit => "") %> €
     | Solde APRES cette inscription : <%=number_to_currency(@solde - @total, :unit => "") %> €
  <br>
   <% if not params[:enregistre] %>
      <%= check_box_tag('enregistre', params[:enregistre], params[:enregistre], :onclick => "this.form.commit.click();") %> Sauvegarder les prestations ?
      <br>
   <% else %>
      <span style="color:green"><b>Prestations enregistrées !</b></span>
   <% end %>
<% end %>
</fieldset>

