<div id="form_actions"></div>
<br>

<h3>Inscription manuelle</h3>

<% if @famille_id %>
   <h3><%= link_to Famille.find(@famille_id).nom, famille_path(id:@famille_id) %></h3>
   <h3><%= format_mois(@mois.to_i).upcase %> <%= @year.upcase %></h3>
   <%= link_to "- Mois", prestations_new_manual_path(mois:@mois_down, year:@year_down, famille_id:@famille_id) %>
   <%= link_to "Mois +", prestations_new_manual_path(mois:@mois_up, year:@year_up, famille_id:@famille_id) %>
<%  else %>
	<% unless session[:famille_id] %>
    	<h3><%= link_to "#{@enfant.prenom} #{@enfant.nomfamille} (#{@enfant.famille.nom})", @enfant %></h3>
    <% else %>
    	<h3><%= @enfant.prenom + " "+ @enfant.famille.nom %>
		<small> - <%= link_to "Retour au relevé de situation", "/moncompte/familleshow" %></small></h3>
    <% end %>
    <%= format_mois(@mois.to_i).upcase %> <%= @year.upcase %>
    <%= link_to "[ - ]", prestations_new_manual_path(mois:@mois_down, year:@year_down, id:@enfant.id) %>
    <%= link_to "[ + ]", prestations_new_manual_path(mois:@mois_up, year:@year_up, id:@enfant.id) %>
<% end %>
<br><br>
  
<%= simple_form_for(Prestation.new, url: prestations_new_manual_calc_path ) do |f| %>

	  <p style="display:none">
	     <%= text_field_tag "enfant_id", @enfant.id if @enfant %>
	     <%= text_field_tag "famille_id", @famille_id if @famille_id %>
	     <%= text_field_tag "mois", @mois %>
	     <%= text_field_tag "year", @year %>
	     <%= text_field_tag "solde", @solde %>
	  </p>
	  <table>
	    <tr>
	      <th>Semaine</th>
	      <th>Date</th>
	      <th>Repas</th>
	      <th>Garderie Matin</th>
	      <th>Garderie Soir</th>
	      <th>Centre Matin</th>
	      <th>Centre Soir</th>
	    </tr>

	    <% @week = 1 %>
	<% for d in @days %>
		<% @vacances = @mairie.vacances.where("debut <= ? AND fin >= ?", d.to_s(:en), d.to_s(:en)) %>
		<% if @famille_id %>
			<% @presta = Prestation.new %>
		<% else %>
		    <% @presta = @enfant.prestations.where(date:d).first %>
		<% end %>
		<% unless session[:famille_id] %>
        	<% @locked = (@presta && @presta.facture_id) %>
        <% else %>	
        	<% @locked = (d <= Date.today + 1.day) %>
        <% end %>	
		<tr>
		  <td><% if @current_week != @week %><%= @week %><% @current_week = @week %><% end %></td>
		  <td><b><%= format_date(d) %></b></td>
		  <td>
		  	<%= check_box_tag(:"#{d.day}.repas", params[:"#{d.day}.repas"], 
				@presta ? (@presta.repas !="0")  : false , { :disabled => @locked }) %>
		  	<% if @presta %> 
			   <% session[:lastparams] << "#{d.day}.repas" if @presta.repas !="0" %>
			<% end %>
		  </td>

		  <td>
		  	<%= check_box_tag(:"#{d.day}.garderieAM", params[:"#{d.day}.garderieAM"],
			 	@presta ? (@presta.garderieAM != "0") : false, { :disabled => @locked  }) %>
		  	<%= select_tag "[select]#{d.day}.garderieAM", 
		  			options_for_select(@duree + @duree_matin, @presta ? @presta.garderieAM: nil), include_blank: true %>
			<% if @presta %> 
			   <% session[:lastparams] << "#{d.day}.garderieAM" if @presta.garderieAM !="0" %>
			<% end %>
		  </td>
		  <td>
		  	<%= check_box_tag(:"#{d.day}.garderiePM", params[:"#{d.day}.garderiePM"], 
				@presta ? (@presta.garderiePM != "0") : false, { :disabled => @locked  }) %>
		  	<%= select_tag "[select]#{d.day}.garderiePM", 
		  			options_for_select(@duree + @duree_soir, @presta ? @presta.garderiePM : nil), include_blank: true %>

			<% if @presta %> 
			   <% session[:lastparams] << "#{d.day}.garderiePM" if @presta.garderiePM !="0" %>
			<% end %>	
		  </td>
		  <td>
		  	<%= check_box_tag(:"#{d.day}.centreAM", params[:"#{d.day}.centreAM"], 
				@presta ? (@presta.centreAM != "0") : false, {  :disabled => @locked  }) %>
			<% if @presta %> 
			   <% session[:lastparams] << "#{d.day}.centreAM" if @presta.centreAM !="0" %>
			<% end %>	
		  </td>
		  <td>
		  	<%= check_box_tag(:"#{d.day}.centrePM", params[:"#{d.day}.centrePM"], 
				@presta ? (@presta.centrePM != "0") : false, {  :disabled => @locked  }) %>
			<% if @presta %> 
			   <% session[:lastparams] << "#{d.day}.centrePM" if @presta.centrePM !="0" %>
			<% end %>	
		  </td>
		</tr>

		<% if d.wday == 5 && (d.end_of_month().day - d.day >2 ) %>
		   <% @week = @week + 1 %>
		   </table>
		   <table>
			<tr>
		      <th>Semaine</th>
		      <th>Date</th>
		      <th>Repas</th>
		      <th>Garderie Matin</th>
		      <th>Garderie Soir</th>
		      <th>Centre Matin</th>
		      <th>Centre Soir</th>
			</tr>
        <% end %>
	<% end %>
	</table>
	<% if 1 == 0 %>
		<%= check_box_tag("etude", params[:etude]) %> Etude pour tout le mois ?
	<% end %>
	<br>

	<%= f.submit "Enregistrer" %>

    <% if session[:famille_id] %>   
		<br><br>
		<%= link_to "Retour au relevé de situation", "/moncompte/familleshow" %>
  	<% end %>
<% end %>
<br><br>

