<div id="form_actions"></div>

<br>
<h3>Etat mensuel par enfant</h3>
Compte le nombre de repas et de prestations par enfant et par mois
<br><br>

<h4>Choisir un mois et une classe</h4>
<%= simple_form_for :stats, :url => '/prestations/stats_mensuelle' do |f| %>
	<%= f.input :mois, :collection => 1..12,  :selected => Date.today.month %>
	<%= f.input :an, :collection => 2010..2020, :label => 'Année',  :selected => Date.today.year %>
	<%= f.input :classe do %>
			<%= f.select "classe", options_from_collection_for_select(@classrooms, "id", "nom", params[:classe]) %>
	<% end %>
	<div style="margin-left:170px;">
		<%= f.submit "Afficher" %>
	</div>
<% end %>

 
