<% @sum = Hash.new %>
<% @sum[:repas] = 0 %>
<% @sum[:garderieAM] = 0 %>
<% @sum[:garderiePM] = 0 %>
<% @sum[:centreAM] = 0 %>
<% @sum[:centrePM] = 0 %>
<% @sum[:etude] = 0 %>


<br>
<h3>Prestations du <%= @datedebut.to_s(:fr) %> au <%= @datefin.to_s(:fr) %></h3>
<table class="sample">
	<tr><th>Nom prénom</th><th>Total repas</th><th>Total Garderie Matin</th>
	    <th>Total Garderie Soir</th><th>Total Centre Matin</th><th>Total Centre Soir</th><th>Total Etude</th>
	</tr>
	<tr><td><i>Classe <%= Classroom.find(@classe).nom %></i></td><td/></tr>

	<% for prestation in @prestations %>
		<% if prestation.enfant.classe != @classe %>
			<% @classe = prestation.enfant.classe %>
			<tr><td /><td /></tr>
			<tr><td><i>Classe <%= Classroom.find(@classe).nom %></i></td><td /></tr>
		<% end %> 
		<% if prestation.enfant.id != @enfant_id %>
			<% @enfant_id = prestation.enfant.id %>
			<tr>
				<td><b><%= prestation.enfant.famille.nom %></b> <%= link_to prestation.enfant.prenom, :controller => "enfants", :action => "show", :id => prestation.enfant.id %></td>
				<td><%= @sum[:repas] %></td>
				<td><%= @sum[:garderieAM] %></td>
				<td><%= @sum[:garderiePM] %></td> 
				<td><%= @sum[:centreAM] %></td> 
				<td><%= @sum[:centrePM] %></td>
				<td><%= @sum[:etude] %></td>
				<% @sum[:repas] =0 %>
				<% @sum[:garderieAM] =0 %>
				<% @sum[:garderiePM] =0 %>
				<% @sum[:centreAM] =0 %>
				<% @sum[:centrePM] =0 %>
				<% @sum[:etude] =0 %>
			</tr> 
 		<% end %>

		<% @sum[:repas] += 1 if prestation.repas == '1' or prestation.repas == '3' %>
		<% @sum[:garderieAM] +=  1 if (prestation.garderieAM == '1' or prestation.garderieAM == '5' or prestation.garderieAM == '6' or prestation.garderieAM == '7') %>
		<% @sum[:garderiePM] +=  1 if (prestation.garderiePM == '1' or prestation.garderiePM == '5' or prestation.garderiePM == '6' or prestation.garderiePM == '7') %>
		<% @sum[:centreAM] +=  1 if prestation.centreAM == '1' %>
		<% @sum[:centrePM] +=  1 if prestation.centrePM == '1' %>
		<% @sum[:etude] +=  1 if prestation.etude == '1' %>

	<% end %>
</table>
<br>
<%= link_to 'retour', '/prestations/stats_mensuelle_params/0' %>


