<div id="form_actions"></div>
<br>

<h3>Modification des coordonnées</h3>

<%= simple_form_for(@ville) do |f|%>

	<% @ville.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>

	<%=f.input :nom, :input_html => {size: 25} %>
	<%=f.input :adr, label:'Adresse', :input_html => {size: 25} %>
	<%=f.input :cp, label:'Code postal', :input_html => {size: 5} %>
	<%=f.input :ville, :input_html => {size: 25} %>
	<%=f.input :tel, label:"Téléphone", :input_html => {size: 25} %>
	<%=f.input :email, :input_html => {size: 25} %>
	<%=f.input :logo_url, label:"URL logo", hint:"Chemin vers votre logo (en PNG) qui s'affichera dans l'entête de facture (http://....", 
				 :input_html => {size: 50}  %>
	<br>
	<div style="margin-left:170px;">	
    	<%= f.submit "Valider" %>
    </div>

<% end %>
