<div class="span-12 last"></div>
<br>

<h3>Création d'un compte</h3>

<%= simple_form_for @ville, :validate => true, :url => { :action => "nouveau_compte_create" } do |f| %>

	<%= f.input :nom, hint:"Ex: Garderie les polichinelles, Association de Cantine, Mairie d'ICI...", :input_html => {size: 15}  %>

	<%= f.input :email, hint:"Une adresse email valide est nécessaire pour vous envoyer le mot de passe", :input_html => {size: 25}  %>

    <div style="margin-left:90px;">
		<b>* Anti-Spam </b>	
    	<%= text_field_tag :antispam  %><br>
    	<div style="margin-left:80px;">
			<i>Entrez la somme de 19+7 afin de vérifier que vous n'êtes pas une de ces effayantes spam-machines !	</i>	
		</div>
	</div>
    <br>
    <div style="margin-left:170px;">
  		<%= f.submit "Créer ce compte" %>
   </div>
<% end %>
<br>

