<div class="span-12 last">
	<h3>Création d'un compte</h3>
	</hr>
	<%= form_for @ville, :validate => true, :url => { :action => "nouveau_compte_create" } do |f| %>
		<br>
		<table class="form">
		  <tr>
		    <td id="label">Nom du compte</td>
		    <td>
		      <%= f.text_field :nom %><br>
		      <small>Ex: Garderie les polichinelles, Association Cantine, ...</small></td>	
		    </td>
		  </tr>
		  <tr>
		    <td id="label">Email</td>
		    <td><%= f.text_field :email %><br>
	   	    <small>Une adresse email valide est nécessaire pour vous envoyer le mot de passe </small></td>	
		  </tr>
		  <tr>
		    <td id="label">Anti-Spam</td>
		    <td><%= text_field_tag :antispam %><br>
	   	    <small>Entrez la somme de 19+7 afin de vérifier que vous n'êtes pas une machine :o)</small></td>	
		  </tr>
		  <tr>
		     <td></td>
		     <td>
		       <div style="margin-top:10px;">
			  		<%= submit_tag "Créer un nouveau compte" %>
		       </div>
		     </td>
		   </tr>
		</table>
	<% end %>
      <br>
      Merci de renseigner ce formulaire. Une fois validé, vous serez automatiquement connecté à openCantine et un mail indiquant votre mot de passe vous sera envoyé.<br><br>
</div>

