<h3>Guide d'utilisation</h3>
<h3>Sommaire</h3>
<ul>
	<li><a href="#presentation">Présentation</a></li>
	<li><a href="#compte">Créer un compte</a></li>
	<li><a href="#mairie">Enregistrer votre mairie/école</a></li>
	<li><a href="#tarifs">Enregistrer vos tarifs</a></li>
	<li><a href="#famille">Ajouter une famille</a></li>
	<li><a href="#enfant">Ajouter un enfant</a></li>
	<li><a href="#inscrire">Inscrire un enfant</a></li>
	<li><a href="#prestation">Les prestations</a></li>
	<li><a href="#solde">Le solde famille</a></li>
	<li><a href="#facturation">La facturation</a></li>
	<li><a href="#releve">Le relevé de compte</a></li>
	<li><a href="#remise">Remise de chèques</a></li>
	<li><a href="#portail">Portail Parents (en construction)</a></li>
</ul>

<hr>

<a name="presentation"></a>
<h3>Présentation</h3>
OpenCantine se présente sous la forme de 5 onglets, Familles, Enfants, Prestations, Factures et Paiements, qui vous permettent d'accéder aux données du même nom.
<p>
	<%= image_tag "guide/oc1.png" %>
</p>

<br>
<p>
	La page "Paramètres" donne, en un coup d'oeil, une synthèse des données importantes concernant votre mairie et enregistrées dans le service maCantine.</p>
<p>
	<%= image_tag "guide/oc2.png", :size => "950x700" %>
<br>
<p>
	La section "Données" de la page Résumé indique le nombre d'enregistrements pour chaque onglet.</p>
<p>
	Le lien "Sauvegarder" permet d'extraire un fichier texte contenant vos propres données que vous pourrez ainsi sauvegarder sur votre ordinateur. Vous pourrez ensuite les importer dans un fichier Excel pour établir vos statistiques, pour alimenter un autre service de gestion et de facturation...</p>
<p>
	<em>Bien entendu, l'ensemble des données saisies dans openCantine vous appartiennent. Elles sont hébergées par openCantine seulement pendant la durée de l'utilisation du service par la mairie.</em></p>
<p>
	La section "Tarifs" récapitule l'ensemble des tarifs par type de prestations. Cette section est expliquée plus loin dans le guide.</p>
<p>
	La section "Vacances" permet de renseigner les dates de vacances de votre région dans le cas où la facturation des prestations serait variante selon que la prestation a lieu dans ou hors période scolaire.</p>
<p>
	"Utilisateurs" liste les utilisateurs de l'application maCantine pour votre mairie et les droits qui leur sont attribués. Un utilisateur ayant les droits "Lecture" ne pourra que consulter les informations de chaque onglet sans pouvoir les modifier.</p>
<p>
	<em>L'application openCantine étant une application reposant sur les standards Internet, un simple navigateur et une connexion internet suffisent pour utiliser ce service depuis n'importe quel ordinateur.</em></p>
<p>
	<strong>Le nombre d'utilisateurs par mairie est ILLIMITE.<br />
	</strong></p>
<br>

<a name="compte"></a>
<hr><h2>Créer un compte OpenCantine</h2>
<p>
	Pour créer un compte, rendez-vous sur <a href="http://demonstration.opencantine.net/nouveau">demonstration.opencantine.net/nouveau</a></p>
<br>
<p>
	<%= image_tag "guide/oc22.png" %>
<p>
	Entrez le nom de la mairie/école et l'adresse email du compte qui servira de compte principal.</p>
<p>
	Connectez-vous en utilisant l'adresse email que vous venez de donner et entrez vos paramètres pour personnaliser votre compte.</p>

<a name="mairie"></a>
<hr><h2>Enregistrer votre mairie/école</h2>
<p>
	Les coordonnées de votre mairie, la liste des classes/instituteurs, les tarifs des prestations ainsi que les dates de vacances sont à renseigner avant de démarrer l'utilisation du service, car ils en conditionnent le comportement.</p>
<p>
	Pour enregistrer les coordonnées de votre mairie, il vous suffit de :</p>
<p>
	Cliquer sur le lien "Modifier", situé sous les coordonnées de la mairie, pour les modifier.</p>
<p>
	L'écran suivant apparaît :</p>
<p>
	<%= image_tag "guide/oc3.png" %>
</p>
<p>
	Les éléments à modifier sont présentés en colonne, à gauche les intitulés et à droite les champs où doivent être renseignées les données.</p>
<p>
	Pour enregister les données, cliquez sur le bouton "Sauvegarder". Un message, en haut, sur fond vert, indique que l'enregistrement a correctement été effectué.</p>
<p>
	Le service retourne ensuite sur la page "Résumé" vous pouvez ainsi voir les modifications que vous venez d'apporter.</p>
<p>
	Si les données enregistrées ne correspondent pas à ce qui est souhaité, la zone contenant la donnée incorrecte est encadrée de rouge et l'enregistrement est annulé. Vous devrez alors modifier les données dans le format qui est attendu.</p>
<p>
	Par la suite, lorsque vous rencontrerez un lien "Modifier", procédez de la même façon.</p>

<a name="tarifs"></a>
<hr><h2>Enregistrer vos tarifs</h2>
<p>
	Dans la section "Tarifs journaliers" de l'onglet Résumé, vous renseignez le prix facturé des prestations de cantine, garderie, centre de loisirs et étude sur la base d'un tarif journalier.</p>
<p>
	Si votre mairie utilise des quotients familliaux, il faudra saisir une ligne de tarif par quotient et indiquer le quotient sur la fiche de l'enfant.</p>
<p>
	Le mode de calcul utilisé ici a été programmé pour les besoins spécifiques de la mairie d'Attainville. Cette mairie utilise 4 tarifs: normal, famille (à partir du second enfant), majoré (prestation ajoutée en cours de mois), et enfin majoré famille.</p>
<p>
	Vous trouverez, en bas de cette page, le réglement et les tarifs utilisés dans cette demonstration.</p>
<p>
	De plus, des jours de carence sont appliqués si des prestations prévues sont annulées pour raison de maladie ou pour convenance personnelle.</p>
<p>
	<strong><em>Nous sommes à votre disposition pour adapter openCantine selon vos tarifs et votre réglement.</em></strong></p>
<p>
	<%= image_tag "guide/oc4.png", :size => "967x437" %>
<br>
<p>
	Dans notre exemple, la ligne "1" indique le prix pour les prestations prises dans le cadre d'une inscription normale. C'est le tarif général.</p>
<p>
	La ligne "2" indique le prix des prestations appliqué pour les enfants de famille. Ce tarif sera appliqué uniquement si les conditions d'application sont obtenues.</p>
<p>
	<em>Vous pouvez ajouter autant de tarifs que nécessaire en indiquant le libellé qui vous convient.<br />
	</em></p>
<p>
	Si vous souhaitez modifer les tarifs, cliquez sur le lien "Modifier", l'écran suivant apparaît :</p>
<br>
<p>
	<%= image_tag "guide/oc5.png", :size => "963x628" %>
<p>
	Vous pouvez maintenant modifier les prix unitaires de chaque prestation.<br />
	<em> </em></p>
<p>
	Si votre école ne pratique pas certaines prestations, entrez un prix 0.00.</p>
<p>
	Si une partie des prestations est facturée sous la forme d'un forfait mensuel, il vous suffit de diviser ce forfait par le nombre de jours ouvrés dans le mois et d'inscrire ce montant dans la zone correspondant à cette prestation.<br />
	<em> </em></p>
<p>
	<em>ex:&nbsp; forfait étude à 40€ pour 14 jours d'école pour le mois de septembre 2009, entrez 2.86 €.</em><br />
	<strong> </strong></p>
<p>
	<em>Attention ! Il vous faudra chaque mois recalculer le prix de la journée d'étude et venir l'inscrire dans le tarif après la facturation du mois précédent et avant les inscriptions du mois suivant.</em><br />
	<strong><em> </em></strong></p>
<p>
	Cliquez sur "Sauvegarder" pour enregistrer les nouveaux tarifs.</p>
<p>
	Et cliquez sur l'onglet "Familles" pour afficher maintenant les familles.</p>

<a name="famille"></a>
<hr><h2>Ajouter une famille</h2>
<p>
	Pour revenir à la liste de toutes les familles (sans filtre), cliquez sur "Filtrer" en laissant la zone "Nom" vide.</p>
<p>
	Si la liste des familles est trop longue, une page supplémentaire sera créée. Vous pourrez aisément naviguer d'une page à une autre, à partir des numéros en bas à gauche. Lorsqu'un filtre est demandé, il porte bien entendu sur l'ensemble des pages.</p>

<p>
	Pour ajouter une famille, cliquez sur le lien "Ajouter".</p>
<p>
	La page suivante apparaît:</p>
<p>
	<%= image_tag "guide/oc7.png", :size => "964x635" %>
<p>
	Indiquez tous les éléments en votre possession afin de compléter la fiche de cette famille.</p>
<p>
	<em>Seule la zone "Nom" est obligatoire, vous pourrez toujours compléter le reste de la fiche plus tard.</em></p>
<p>
	Cliquez sur "Sauvegarder" pour enregister la fiche. Un message vous signale alors que l'opération s'est déroulée avec succès et la fiche de la famille apparaît.</p>
<p>
	<%= image_tag "guide/oc8.png" %>
<p>
	La fiche famille contient les coordonnées de la famille ainsi que les éléments en attente d'être renseignés :<br />
	- La liste des enfants<br />
	- Un aperçu de la situation comptable indiquant :</p>
<ul>
	<li>
		la somme des prestations déjà facturées</li>
	<li>
		la somme des paiements reçus</li>
	<li>
		le solde actuel de la famille.</li>
</ul>

<a name="enfant"></a>
<hr><h2>Ajouter un enfant</H2>
<p>
	Pour ajouter un enfant, cliquez sur le lien "Ajouter un enfant".</p>
<p>
	La page suivante s'ouvre :</p>
<p>
	<%= image_tag "guide/oc9.png" %>
<p>
	Complétez la fiche de l'enfant en indiquant son prénom, date de naissance, sa classe et si l'enfant a une alimentation spéciale : sans porc et/ou s'il est sujet aux allergies (indications prises en compte dans le récapitulatif des prestations).</p>
<p>
	La zone "Tarif" permet de fixer un tarif à appliquer pour les prestations de cet enfant. Si cette zone est laissée vide, c'est le système qui va choisir automatiquement le tarif par défaut.</p>
<p>
	Cliquez sur "Sauvegarder" pour enregistrer les données de l'enfant et revenir à la fiche famille.</p>
<p>
	L'enfant que vous venez d'ajouter figure désormais dans la liste des enfants de la famille.</p>
<p>
	Des informations supplémentaires sont visibles telles que le "Référant" de la classe (que vous avez désigné au préalable) ainsi que les colonnes "Repas", "Garderie Matin" et les autres prestations. Ces chiffres indiquent le nombre de prestations auxquelles l'enfant est inscrit et qui n'ont pas encore été facturées.</p>
<p>
	Les liens "Inscription/Manuelle" et "Inscription/Automatique" vont vous permettrent de renseigner les prestations souhaitées pour cet enfant.</p>
<br>

<a name="inscrire"></a>
<hr><h2>Inscrire un enfant</h2>
<p>
	Pour inscrire un enfant à des prestations, vous disposez du mode manuel ou du mode automatique.</p>
<p>
	Le mode manuel est une grille mensuelle où vous pouvez cocher, pour chaque jour ouvré, les prestations souhaitées.&nbsp;</p>
<p>
	Ce mode d'inscription "sur mesure" vous permet de gérer les plannings d'un enfant dont les prestations sont différentes d'une semaine sur l'autre.</p>
<p>
	Dans le mode automatique vous ne renseignez qu'une semaine type qui sera répétée par le système sur tout le mois.</p>
<h3>
	Mode d'inscription manuel</h3>
<p>
	Après avoir cliqué sur le lien "Inscription Manuelle", en face de l'enfant à inscrire, la page suivante s'affiche :</p>
<p>
	<%= image_tag "guide/oc10.png", :size => "961x653" %>
<p>
	Cochez les prestations souhaitées pour chaque journée.</p>
<p>
	Seule l'étude est regroupée en une seule prestation, en bas de la page. Cochez cette case si vous souhaitez inscrire l'enfant à l'étude tous les jours du mois.</p>
<p>
	A tout moment vous pouvez calculer la somme des prestations cochées en cliquant sur le bouton "Calculer" situé en haut de la page.</p>
<p>
	La somme totale est calculée en se basant sur le tarif qui a été désigné pour cet enfant.</p>
<p>
	Une fois que vous avez rempli la grille et calculé la somme des prestations, vous pouvez cocher la case "Sauvegarder et enregistrer les prestations ?" pour que les données soient définitivement sauvegardées et que l'enfant soit réellement inscrit à ces prestations.<br />
	<em> </em></p>

<a name="prestation"></a>
<hr><h2>Les prestations</h2>

<p>
	L'onglet "Prestations" donne accès à la liste des prestations, triées par date, classe, nom et prénom de l'enfant.</p>
<p>
	Par défaut, c'est la liste des prestations du jour qui s'affiche.&nbsp;</p>
<p>
	Pour voir les prestations d'un autre jour, cliquez sur l'icone représentant un petit calendrier, à droite de la date, cliquez ensuite sur le jour souhaité, puis sur "Filtrer" pour voir toutes les prestations au jour demandé.</p>
<p>
	Pour filtrer les prestations d'une classe, choisissez la classe dans la liste déroulante et cliquez sur "Filtrer".</p>
<p>
	Pour afficher toutes les prestations d'un enfant sur le mois, cochez "tout le mois" et cliquez sur "Filtrer".</p>
<p>
	<%= image_tag "guide/oc11.png", :size => "962x447" %>
<p>
	Il est possible d'imprimer cette liste en cliquant sur le lien "Imprimer" situé en bas à gauche de la page.</p>
<br>
<p>
	<%= image_tag "guide/oc12.png", :size => "998x455" %>
<br>
<p>
	Les prestations sont indiquées d'une coche. La couleur peut-être :</p>
<ul>
	<li>
		Verte : la prestation est prévue.</li>
	<li>
		Orange : la prestation a été ajoutée par les parents dans un deuxième temps (hors pré-inscription).</li>
	<li>
		Rouge : la prestations a été annulée par les parents en cours de mois.</li>
</ul>
<p>
	En bas de la page, des cumuls indiquent le nombre total de repas, dont repas adultes, dont repas sans-porc et repas adultes et sans porc.</p>
<br>
<hr><h2>Modifier les prestations</h2>

<p>
	Il est toujours possible de modifier une prestations, tant qu'elle n'a pas été facturée.</p>
<p>
	Pour modifier une prestation, dans l'onglet Prestation, cliquez sur le lien "Modifier" situé en face de la journée à modifier.</p>
<p>
	La page suivante s'ouvre :</p>
<p>
	<%= image_tag "guide/oc13.png" %>
<p>
	Cette page indique le jour, le nom de l'enfant et les prestations disponibles. Il y a cinq choix possibles pour indiquer l'état de chaque prestation.</p>
<ul>
	<li>
		Oui</li>
	<li>
		Ajouté par la famille</li>
	<li>
		Annulé par la famille</li>
	<li>
		Annulé pour maladie</li>
	<li>
		Non</li>
</ul>
<p>
	Cliquez sur "Sauvegarder" pour enregistrer les modifications</p>
<br>

<a name="solde"></a>
<hr><h2>Le solde famille</h2>
<br>
<p>
	Pour consulter le compte Famille, rendez-vour sur l'onglet 'Famille' puis choisir la famille concernée, l'écran suivant apparait :</p>
<p>
	<%= image_tag "guide/oc8.png", :size => "964x655" %>
<br>
<p>
	Dans notre exemple, le solde de la famille est de 0.00€. Le montant est affiché en rouge, s'il est d&ucirc; par la famille.</p>
<p>
	Un solde positif signifirait au contraire que c'est la mairie qui doit cette somme à la famille.</p>
<p>
	Pour équilibrer le solde de la famille il est nécessaire d'ajouter un paiement, chèque, espèce ou avoir.</p>
<br>

<a name="facturation"></a>
<hr><h2>La facturation</h2>
<p>
	La facturation des prestations d'une famille est à faire lorsque les prestations sont consommées, et avant d'envoyer la feuille d'inscription du mois suivant, car la facture permet de faire le compte des prestations annulées, ajoutées, en plus des prestations commandées, et d'avoir ainsi un solde famille à jour.</p>
<p>
	La facture mensuelle de la famille regroupe toutes les prestations des tous les enfants de la famille et indique le solde de la famille.</p>
<p>
	Si votre mairie a un tarif spécial, par exemple pour les prestations ajoutées hors inscription ou un nombre de jours de carence à appliquer sur les annulations, c'est au moment de la facturation que ces règles de gestion vont s'appliquer.</p>
<p>
	La facture comptabilisera toutes les prestations d'une famille à partir de la date de la plus ancienne prestation non facturée et jusqu'à la dernière prestation de ce même mois.</p>
<p>
	Une fois la facture créée, il ne sera plus possible de modifier les éléments qui la constituent. Ainsi, les prestations déjà facturées d'un enfant ne pourront plus être modifiées.&nbsp;</p>
<p>
	Le formulaire "Famille" permet de voir le nombre de prestations non facturées par enfant :</p>
<p>
	<%= image_tag "guide/oc8.png" %>
<p>
	Pour voir en détail les prestations qui seront facturées pour un enfant, rendez-vous sur la fiche de l'enfant et cliquez sur le filtre "Prestations:&nbsp; Non facturées".</p>
<p>
	<em>Il est encore possible de modifier les prestations, après il sera trop tard...<br />
	</em></p>
<p>
	<em>&nbsp;</em></p>
<p>
	<%= image_tag "guide/oc14.png", :size => "962x638" %>
<p>
	Le totel indiqué en fin de ligne est le montant des prestations de la journée, hors prestations annulées ou ajoutées depuis l'inscription.</p>

<a name="facture"></a>
<hr><h2>Créer une facture</h2>
<br>
<p>
	La facturation se fait famille par famille. Rendez-vous donc sur la page de la famille que vous souhaitez facturer.</p>
<p>
	La liste des enfants indique le nombre de repas, garderie et centre à facturer.</p>
<p>
	<%= image_tag "guide/oc8.png", :size => "964x655" %>
<p>
	En cliquant sur le lien "Facturer", le formulaire suivant apparaît :</p>
<p>
	<%= image_tag "guide/oc15.png" %>
<p>
	La facture ne sera créée en cliquant sur le bouton "Valider".</p>
<br>
<p>
	<img alt="" src="http://www.opencantine.net/sites/default/files/images/oc16.png" /></p>
	<%= image_tag "guide/oc16.png" %>
<br>
<p>
	Pour imprimer cette facture, cliquez sur le lien "Aperçu avant Impression".</p>
<br>
<p>
	<%= image_tag "guide/oc17.png", :size => "968x625" %>
<a name="releve"></a>
<hr><h2>Le relevé de compte</h2>
<p>
	Le relevé de compte permet de lister l'ensemble des mouvements financiers d'une famille. Cette liste fait apparaitre, par ordre chronologique, les factures, les paiements et le solde à date.</p>
<p>
	Pour y accéder, rendez-vous sur la fiche d'une famille et cliquez sur le solde qui se trouve dans le cartouche "financier".</p>
<br>
<p>
	<%= image_tag "guide/oc18.png" %>
<br>

<a name="paiements"></a>
<hr><h2>Les Paiements</h2>
<p>
	Pour ajouter un paiement, cliquez sur le lien "Ajouter un paiement" dans l'onglet Paiement.</p>
<p>
	La page suivante s'ouvre :</p>
<p>
	<%= image_tag "guide/oc19.png" %>
<p>
	Complétez le formulaire selon les informations de paiement.</p>
<p>
	Les types de paiement peuvent être :</p>
<ul>
	<li>
		Chèque</li>
	<li>
		Espèces</li>
	<li>
		Avoir (dans le cas d'un trop perçu ou déficit sur l'exercice précédent)</li>
</ul>
<p>
	Vous pouvez détailler le "Montant Cantine" et le "Montant garderie"si ces informations doivent figurer dans la remise de chèques pour la trésorerie.&nbsp;</p>
<p>
	<em>Ne remplissez la zone "Date remise TP" que si le chèque a été remis au Trésor.</em></p>
<p>
	Cliquez sur "Sauvegarder" pour enregistrer le paiement et retourner à l'onglet "Paiements".</p>
<p>
	L'onglet "Paiements" présente la liste de tous les paiements, triés par date décroissante.</p>
<p>
	Vous pouvez indiquer une référence de paiement à rechercher dans la zone "Réf" et cliquer sur "Filtrer" pour ne voir que les paiements qui correspondent à ce critère.</p>
<p>
	<%= image_tag "guide/oc20.png" %>
</p>

<a name="remise"></a>
<hr><h2>Remise de chèques</h2>
<p>
	Une fois que tous les paiements auront été enregistrés, les chèques devront être déposés à la Trésorerie.</p>
<p>
	Un bordereau de remise de chèque peut être imprimé en cochant&nbsp; "Chèques non remis ?" dans la page "Paiements".</p>
<p>
	Ce bordereau ne contient que les paiements de type "chèque" et qui n'ont pas de date de remise.</p>
<p>
	<%= image_tag "guide/oc21.png", :size => "965x293" %>
<p>
	<em>Une fois la remise de chèques réellement effectuée auprès de la Trésorerie, vous devez mettre à jour la date de remise.</em></p>
<p>
	Ceci peut être fait automatiquement, simplement en cliquant que la date située en haut à gauche du bordereau. La date du jour sera alors enregistrée pour chaque chèque de la liste.</p>

<a name="portail"></a>
<hr><h2>Portail Parents</h2>
<p>
	Les familles peuvent consulter leur relévé de compte ansi que les réservations en cours. Avec Paypal, les parents peuvent payer facilement leurs factures, il suffit de configurer une compte vendeur pour que votre association puisse recevoir l'argent.</p>
<p>
	L'accès au site spécial 'Familles' se fait en allant sur <a href="http://demonstration.opencantine.net/moncompte/famillelogin">demonstration.opencantine.net/moncompte/famillelogin</a></p>
<p>
	Suivre ensuite les instructions présentes à l'écran.</p>
<br>
<hr><h2>Et ensuite ?</h2>
<br>
<h4>Vos commentaires et propositions sont les bienvenus et m'aident à améliorer l'application...</h4>
<%= link_to "philippe.nougaillon@gmail.com", "mailto:philippe.nougaillon@gmail.com" %>
<br>
<br>


