<h2>Guide d'utilisation</h2>
<h3>Sommaire</h3>
<ul>
	<li><a href="#prez">Présentation de l'application</a></li>
	<li><a href="#compte">Créer un compte OpenCantine</a></li>
	<li><a href="#mairie">Enregistrer votre mairie/école</a></li>
	<li><a href="#tarifs">Enregistrer vos tarifs</a></li>
	<li><a href="#famille">Ajouter une famille</a></li>
	<li><a href="#enfant">Ajouter un enfant</a></li>
	<li><a href="#inscrire">Inscrire un enfant</a></li>
	<li><a href="#prestation">Les prestations</a></li>
	<li><a href="#solde">Le solde famille</a></li>
	<li><a href="#facturation">La facturation</a></li>
	<li><a href="#releve">Le relevé de compte</a></li>
	<li><a href="#remise">Remise de chèques</a></li>
	<li><a href="#portail">Portail Parents (en construction)</a></li>
</ul>


<a name="prez"></a>
<hr><h2>Présentation de l'application</h2>

<h3>Pour qui ?</h3>
openCantine est destiné aux petites collectivités, mairies, écoles, centre de loisirs... Cette solution vous aidera dans l’organisation de votre mairie et vous fera gagner un temps précieux en simplifiant la gestion administrative et la facturation de vos cantines et services péri-scolaires.
<br><br>
<h3>Comment ça marche ?</h3>
Vous disposez d’un ordinateur et d’un accès internet : alors vous avez déjà toute l’infrastructure nécessaire pour utiliser nos solutions ! 100% web, vous accédez à volonté à votre plateforme dédiée, nous nous chargeons d’héberger et de sécuriser vos données.
<br><br>
<h3>Un logiciel simple, évolutif et innovant</h3>
Conçu avec pour objectif la simplicité d'utilisation et de maintenance, notre logiciel permet une gestion efficace des familles, enfants, inscriptions, présences et la facturation des prestations de garderie et/ou de cantine. 
L'application openCantine vous permet de gérer les données relatives à vos inscriptions par Famille, par Enfant ou par Prestations. Deux modules vous permettent d'assurer le suivi de vos Factures et Paiements.
<br><br>
<h3>Poins forts</h3>
<p>
	<strong>Un usage simplifi&eacute;<br />
	</strong></p>
<ul>
	<li>
		<p>
			Prise en main imm&eacute;diate</p>
	</li>
	<li>
		<p>
			Une comptabilit&eacute; par famille</p>
	</li>
	<li>
		<p>
			Modes de calcul de la facturation personnalisables</p>
	</li>
	<li>
		<p>
			Les familles peuvent consulter comptes et r&eacute;servations par Internet et sur iPhone</p>
	</li>
	<li>
		<p>
			Pointage automatique des pr&eacute;sences par douchette code-barre</p>
	</li>
	<li>
		<p>
			Logiciel &eacute;volutif selon les besoins des utilisateurs</p>
	</li>
	<li>
		<p>
			Ne d&eacute;pend pas d&#39;une soci&eacute;t&eacute;. Code source disponible sur la forge <a href="http://www.adullact.org/">Adullact</a><br />
			&nbsp;</p>
	</li>
</ul>
<p>
	<strong>Une informatique &#39;dans le nuage&#39; (Cloud)<br />
	</strong></p>
<ul>
	<li>
		<p>
			Pas de logiciel &agrave; installer, un simple navigateur Internet suffit (Firefox, Google Chrome conseill&eacute;s)</p>
	</li>
	<li>
		<p>
			Pas de mise &agrave; jour &agrave; g&eacute;rer, l&#39;application est mise &agrave; jour automatiquement</p>
	</li>
	<li>
		<p>
			Nombre d&#39;utilisateurs illimit&eacute;. Droits d&#39;acc&egrave;s lecture seule pour les invit&eacute;s&nbsp;</p>
	</li>
	<li>
		<p>
			Pas de serveur &agrave; installer et &agrave; administer. Pas de sauvegardes &agrave; g&eacute;rer</p>
	</li>
</ul>

<br><br>
<h3>Utilisation</h3>
OpenCantine se présente sous la forme de 5 onglets, Familles, Enfants, Prestations, Factures et Paiements, qui vous permettent d'accéder aux données du même nom.
<p>
	<%= image_tag "guide/oc1.png" %>
</p>

<p>
	&nbsp;</p>
<p>
	La page &quot;Param&egrave;tres&quot; donne, en un coup d&#39;oeil, une synth&egrave;se des donn&eacute;es importantes concernant votre mairie et enregistr&eacute;es dans le service maCantine.</p>
<p>
	<%= image_tag "guide/oc2.png", :size => "950x700" %>
<p>
	&nbsp;</p>
<p>
	La section &quot;Donn&eacute;es&quot; de la page R&eacute;sum&eacute; indique le nombre d&#39;enregistrements pour chaque onglet.</p>
<p>
	Le lien &quot;Sauvegarder&quot; permet d&#39;extraire un fichier texte contenant vos propres donn&eacute;es que vous pourrez ainsi sauvegarder sur votre ordinateur. Vous pourrez ensuite les importer dans un fichier Excel pour &eacute;tablir vos statistiques, pour alimenter un autre service de gestion et de facturation...</p>
<p>
	<em>Bien entendu, l&#39;ensemble des donn&eacute;es saisies dans openCantine vous appartiennent. Elles sont h&eacute;berg&eacute;es par openCantine seulement pendant la dur&eacute;e de l&#39;utilisation du service par la mairie.</em></p>
<p>
	La section &quot;Tarifs&quot; r&eacute;capitule l&#39;ensemble des tarifs par type de prestations. Cette section est expliqu&eacute;e plus loin dans le guide.</p>
<p>
	La section &quot;Vacances&quot; permet de renseigner les dates de vacances de votre r&eacute;gion dans le cas o&ugrave; la facturation des prestations serait variante selon que la prestation a lieu dans ou hors p&eacute;riode scolaire.</p>
<p>
	&quot;Utilisateurs&quot; liste les utilisateurs de l&#39;application maCantine pour votre mairie et les droits qui leur sont attribu&eacute;s. Un utilisateur ayant les droits &quot;Lecture&quot; ne pourra que consulter les informations de chaque onglet sans pouvoir les modifier.</p>
<p>
	<em>L&#39;application openCantine &eacute;tant une application reposant sur les standards Internet, un simple navigateur et une connexion internet suffisent pour utiliser ce service depuis n&#39;importe quel ordinateur.</em></p>
<p>
	<strong>Le nombre d&#39;utilisateurs par mairie est ILLIMITE.<br />
	</strong></p>
<p>
	&nbsp;</p>

<a name="compte"></a>
<hr><h2>Créer un compte OpenCantine</h2>
<p>
	Pour cr&eacute;er un compte, rendez-vous sur <a href="http://demonstration.opencantine.net/nouveau">demonstration.opencantine.net/nouveau</a></p>
<p>
	&nbsp;</p>
<p>
	<%= image_tag "guide/oc22.png" %>
<p>
	Entrez le nom de la mairie/&eacute;cole et l&#39;adresse email du compte qui servira de compte principal.</p>
<p>
	Connectez-vous en utilisant l&#39;adresse email que vous venez de donner et entrez vos param&egrave;tres pour personnaliser votre compte.</p>

<a name="mairie"></a>
<hr><h2>Enregistrer votre mairie/école</h2>
<p>
	Les coordonn&eacute;es de votre mairie, la liste des classes/instituteurs, les tarifs des prestations ainsi que les dates de vacances sont &agrave; renseigner avant de d&eacute;marrer l&#39;utilisation du service, car ils en conditionnent le comportement.</p>
<p>
	Pour enregistrer les coordonn&eacute;es de votre mairie, il vous suffit de :</p>
<p>
	Cliquer sur le lien &quot;Modifier&quot;, situ&eacute; sous les coordonn&eacute;es de la mairie, pour les modifier.</p>
<p>
	L&#39;&eacute;cran suivant appara&icirc;t :</p>
<p>
	<%= image_tag "guide/oc3.png" %>
</p>
<p>
	Les &eacute;l&eacute;ments &agrave; modifier sont pr&eacute;sent&eacute;s en colonne, &agrave; gauche les intitul&eacute;s et &agrave; droite les champs o&ugrave; doivent &ecirc;tre renseign&eacute;es les donn&eacute;es.</p>
<p>
	Pour enregister les donn&eacute;es, cliquez sur le bouton &quot;Sauvegarder&quot;. Un message, en haut, sur fond vert, indique que l&#39;enregistrement a correctement &eacute;t&eacute; effectu&eacute;.</p>
<p>
	Le service retourne ensuite sur la page &quot;R&eacute;sum&eacute;&quot; vous pouvez ainsi voir les modifications que vous venez d&#39;apporter.</p>
<p>
	Si les donn&eacute;es enregistr&eacute;es ne correspondent pas &agrave; ce qui est souhait&eacute;, la zone contenant la donn&eacute;e incorrecte est encadr&eacute;e de rouge et l&#39;enregistrement est annul&eacute;. Vous devrez alors modifier les donn&eacute;es dans le format qui est attendu.</p>
<p>
	Par la suite, lorsque vous rencontrerez un lien &quot;Modifier&quot;, proc&eacute;dez de la m&ecirc;me fa&ccedil;on.</p>

<a name="tarifs"></a>
<hr><h2>Enregistrer vos tarifs</h2>
<p>
	Dans la section &quot;Tarifs journaliers&quot; de l&#39;onglet R&eacute;sum&eacute;, vous renseignez le prix factur&eacute; des prestations de cantine, garderie, centre de loisirs et &eacute;tude sur la base d&#39;un tarif journalier.</p>
<p>
	Si votre mairie utilise des quotients familliaux, il faudra saisir une ligne de tarif par quotient et indiquer le quotient sur la fiche de l&#39;enfant.</p>
<p>
	Le mode de calcul utilis&eacute; ici a &eacute;t&eacute; programm&eacute; pour les besoins sp&eacute;cifiques de la mairie d&#39;Attainville. Cette mairie utilise 4 tarifs: normal, famille (&agrave; partir du second enfant), major&eacute; (prestation ajout&eacute;e en cours de mois), et enfin major&eacute; famille.</p>
<p>
	Vous trouverez, en bas de cette page, le r&eacute;glement et les tarifs utilis&eacute;s dans cette demonstration.</p>
<p>
	De plus, des jours de carence sont appliqu&eacute;s si des prestations pr&eacute;vues sont annul&eacute;es pour raison de maladie ou pour convenance personnelle.</p>
<p>
	<strong><em>Nous sommes &agrave; votre disposition pour adapter openCantine selon vos tarifs et votre r&eacute;glement.</em></strong></p>
<p>
	<%= image_tag "guide/oc4.png", :size => "967x437" %>
<p>
	&nbsp;</p>
<p>
	Dans notre exemple, la ligne &quot;1&quot; indique le prix pour les prestations prises dans le cadre d&#39;une inscription normale. C&#39;est le tarif g&eacute;n&eacute;ral.</p>
<p>
	La ligne &quot;2&quot; indique le prix des prestations appliqu&eacute; pour les enfants de famille. Ce tarif sera appliqu&eacute; uniquement si les conditions d&#39;application sont obtenues.</p>
<p>
	<em>Vous pouvez ajouter autant de tarifs que n&eacute;cessaire en indiquant le libell&eacute; qui vous convient.<br />
	</em></p>
<p>
	Si vous souhaitez modifer les tarifs, cliquez sur le lien &quot;Modifier&quot;, l&#39;&eacute;cran suivant appara&icirc;t :</p>
<p>
	&nbsp;</p>
<p>
	<%= image_tag "guide/oc5.png", :size => "963x628" %>
<p>
	Vous pouvez maintenant modifier les prix unitaires de chaque prestation.<br />
	<em> </em></p>
<p>
	Si votre &eacute;cole ne pratique pas certaines prestations, entrez un prix 0.00.</p>
<p>
	Si une partie des prestations est factur&eacute;e sous la forme d&#39;un forfait mensuel, il vous suffit de diviser ce forfait par le nombre de jours ouvr&eacute;s dans le mois et d&#39;inscrire ce montant dans la zone correspondant &agrave; cette prestation.<br />
	<em> </em></p>
<p>
	<em>ex:&nbsp; forfait &eacute;tude &agrave; 40&euro; pour 14 jours d&#39;&eacute;cole pour le mois de septembre 2009, entrez 2.86 &euro;.</em><br />
	<strong> </strong></p>
<p>
	<em>Attention ! Il vous faudra chaque mois recalculer le prix de la journ&eacute;e d&#39;&eacute;tude et venir l&#39;inscrire dans le tarif apr&egrave;s la facturation du mois pr&eacute;c&eacute;dent et avant les inscriptions du mois suivant.</em><br />
	<strong><em> </em></strong></p>
<p>
	Cliquez sur &quot;Sauvegarder&quot; pour enregistrer les nouveaux tarifs.</p>
<p>
	Et cliquez sur l&#39;onglet &quot;Familles&quot; pour afficher maintenant les familles.</p>

<a name="famille"></a>
<hr><h2>Ajouter une famille</h2>
<p>
	Pour revenir &agrave; la liste de toutes les familles (sans filtre), cliquez sur &quot;Filtrer&quot; en laissant la zone &quot;Nom&quot; vide.</p>
<p>
	Si la liste des familles est trop longue, une page suppl&eacute;mentaire sera cr&eacute;&eacute;e. Vous pourrez ais&eacute;ment naviguer d&#39;une page &agrave; une autre, &agrave; partir des num&eacute;ros en bas &agrave; gauche. Lorsqu&#39;un filtre est demand&eacute;, il porte bien entendu sur l&#39;ensemble des pages.</p>

<p>
	Pour ajouter une famille, cliquez sur le lien &quot;Ajouter&quot;.</p>
<p>
	La page suivante appara&icirc;t:</p>
<p>
	<%= image_tag "guide/oc7.png", :size => "964x635" %>
<p>
	Indiquez tous les &eacute;l&eacute;ments en votre possession afin de compl&eacute;ter la fiche de cette famille.</p>
<p>
	<em>Seule la zone &quot;Nom&quot; est obligatoire, vous pourrez toujours compl&eacute;ter le reste de la fiche plus tard.</em></p>
<p>
	Cliquez sur &quot;Sauvegarder&quot; pour enregister la fiche. Un message vous signale alors que l&#39;op&eacute;ration s&#39;est d&eacute;roul&eacute;e avec succ&egrave;s et la fiche de la famille appara&icirc;t.</p>
<p>
	<%= image_tag "guide/oc8.png" %>
<p>
	La fiche famille contient les coordonn&eacute;es de la famille ainsi que les &eacute;l&eacute;ments en attente d&#39;&ecirc;tre renseign&eacute;s :<br />
	- La liste des enfants<br />
	- Un aper&ccedil;u de la situation comptable indiquant :</p>
<ul>
	<li>
		la somme des prestations d&eacute;j&agrave; factur&eacute;es</li>
	<li>
		la somme des paiements re&ccedil;us</li>
	<li>
		le solde actuel de la famille.</li>
</ul>

<a name="enfant"></a>
<hr><h2>Ajouter un enfant</H2>
<p>
	Pour ajouter un enfant, cliquez sur le lien &quot;Ajouter un enfant&quot;.</p>
<p>
	La page suivante s&#39;ouvre :</p>
<p>
	<%= image_tag "guide/oc9.png" %>
<p>
	Compl&eacute;tez la fiche de l&#39;enfant en indiquant son pr&eacute;nom, date de naissance, sa classe et si l&#39;enfant a une alimentation sp&eacute;ciale : sans porc et/ou s&#39;il est sujet aux allergies (indications prises en compte dans le r&eacute;capitulatif des prestations).</p>
<p>
	La zone &quot;Tarif&quot; permet de fixer un tarif &agrave; appliquer pour les prestations de cet enfant. Si cette zone est laiss&eacute;e vide, c&#39;est le syst&egrave;me qui va choisir automatiquement le tarif par d&eacute;faut.</p>
<p>
	Cliquez sur &quot;Sauvegarder&quot; pour enregistrer les donn&eacute;es de l&#39;enfant et revenir &agrave; la fiche famille.</p>
<p>
	L&#39;enfant que vous venez d&#39;ajouter figure d&eacute;sormais dans la liste des enfants de la famille.</p>
<p>
	Des informations suppl&eacute;mentaires sont visibles telles que le &quot;R&eacute;f&eacute;rant&quot; de la classe (que vous avez d&eacute;sign&eacute; au pr&eacute;alable) ainsi que les colonnes &quot;Repas&quot;, &quot;Garderie Matin&quot; et les autres prestations. Ces chiffres indiquent le nombre de prestations auxquelles l&#39;enfant est inscrit et qui n&#39;ont pas encore &eacute;t&eacute; factur&eacute;es.</p>
<p>
	Les liens &quot;Inscription/Manuelle&quot; et &quot;Inscription/Automatique&quot; vont vous permettrent de renseigner les prestations souhait&eacute;es pour cet enfant.</p>
<p>
	&nbsp;</p>

<a name="inscrire"></a>
<hr><h2>Inscrire un enfant</h2>
<p>
	Pour inscrire un enfant &agrave; des prestations, vous disposez du mode manuel ou du mode automatique.</p>
<p>
	Le mode manuel est une grille mensuelle o&ugrave; vous pouvez cocher, pour chaque jour ouvr&eacute;, les prestations souhait&eacute;es.&nbsp;</p>
<p>
	Ce mode d&#39;inscription &quot;sur mesure&quot; vous permet de g&eacute;rer les plannings d&#39;un enfant dont les prestations sont diff&eacute;rentes d&#39;une semaine sur l&#39;autre.</p>
<p>
	Dans le mode automatique vous ne renseignez qu&#39;une semaine type qui sera r&eacute;p&eacute;t&eacute;e par le syst&egrave;me sur tout le mois.</p>
<h3>
	Mode d&#39;inscription manuel</h3>
<p>
	Apr&egrave;s avoir cliqu&eacute; sur le lien &quot;Inscription Manuelle&quot;, en face de l&#39;enfant &agrave; inscrire, la page suivante s&#39;affiche :</p>
<p>
	<%= image_tag "guide/oc10.png", :size => "961x653" %>
<p>
	Cochez les prestations souhait&eacute;es pour chaque journ&eacute;e.</p>
<p>
	Seule l&#39;&eacute;tude est regroup&eacute;e en une seule prestation, en bas de la page. Cochez cette case si vous souhaitez inscrire l&#39;enfant &agrave; l&#39;&eacute;tude tous les jours du mois.</p>
<p>
	A tout moment vous pouvez calculer la somme des prestations coch&eacute;es en cliquant sur le bouton &quot;Calculer&quot; situ&eacute; en haut de la page.</p>
<p>
	La somme totale est calcul&eacute;e en se basant sur le tarif qui a &eacute;t&eacute; d&eacute;sign&eacute; pour cet enfant.</p>
<p>
	Une fois que vous avez rempli la grille et calcul&eacute; la somme des prestations, vous pouvez cocher la case &quot;Sauvegarder et enregistrer les prestations ?&quot; pour que les donn&eacute;es soient d&eacute;finitivement sauvegard&eacute;es et que l&#39;enfant soit r&eacute;ellement inscrit &agrave; ces prestations.<br />
	<em> </em></p>

<a name="prestation"></a>
<hr><h2>Les prestations</h2>

<p>
	L&#39;onglet &quot;Prestations&quot; donne acc&egrave;s &agrave; la liste des prestations, tri&eacute;es par date, classe, nom et pr&eacute;nom de l&#39;enfant.</p>
<p>
	Par d&eacute;faut, c&#39;est la liste des prestations du jour qui s&#39;affiche.&nbsp;</p>
<p>
	Pour voir les prestations d&#39;un autre jour, cliquez sur l&#39;icone repr&eacute;sentant un petit calendrier, &agrave; droite de la date, cliquez ensuite sur le jour souhait&eacute;, puis sur &quot;Filtrer&quot; pour voir toutes les prestations au jour demand&eacute;.</p>
<p>
	Pour filtrer les prestations d&#39;une classe, choisissez la classe dans la liste d&eacute;roulante et cliquez sur &quot;Filtrer&quot;.</p>
<p>
	Pour afficher toutes les prestations d&#39;un enfant sur le mois, cochez &quot;tout le mois&quot; et cliquez sur &quot;Filtrer&quot;.</p>
<p>
	<%= image_tag "guide/oc11.png", :size => "962x447" %>
<p>
	Il est possible d&#39;imprimer cette liste en cliquant sur le lien &quot;Imprimer&quot; situ&eacute; en bas &agrave; gauche de la page.</p>
<p>
	&nbsp;</p>
<p>
	<%= image_tag "guide/oc12.png", :size => "998x455" %>
<p>
	&nbsp;</p>
<p>
	Les prestations sont indiqu&eacute;es d&#39;une coche. La couleur peut-&ecirc;tre :</p>
<ul>
	<li>
		Verte : la prestation est pr&eacute;vue.</li>
	<li>
		Orange : la prestation a &eacute;t&eacute; ajout&eacute;e par les parents dans un deuxi&egrave;me temps (hors pr&eacute;-inscription).</li>
	<li>
		Rouge : la prestations a &eacute;t&eacute; annul&eacute;e par les parents en cours de mois.</li>
</ul>
<p>
	En bas de la page, des cumuls indiquent le nombre total de repas, dont repas adultes, dont repas sans-porc et repas adultes et sans porc.</p>
<p>
	&nbsp;</p>
<hr><h2>Modifier les prestations</h2>

<p>
	Il est toujours possible de modifier une prestations, tant qu&#39;elle n&#39;a pas &eacute;t&eacute; factur&eacute;e.</p>
<p>
	Pour modifier une prestation, dans l&#39;onglet Prestation, cliquez sur le lien &quot;Modifier&quot; situ&eacute; en face de la journ&eacute;e &agrave; modifier.</p>
<p>
	La page suivante s&#39;ouvre :</p>
<p>
	<%= image_tag "guide/oc13.png" %>
<p>
	Cette page indique le jour, le nom de l&#39;enfant et les prestations disponibles. Il y a cinq choix possibles pour indiquer l&#39;&eacute;tat de chaque prestation.</p>
<ul>
	<li>
		Oui</li>
	<li>
		Ajout&eacute; par la famille</li>
	<li>
		Annul&eacute; par la famille</li>
	<li>
		Annul&eacute; pour maladie</li>
	<li>
		Non</li>
</ul>
<p>
	Cliquez sur &quot;Sauvegarder&quot; pour enregistrer les modifications</p>
<p>
	&nbsp;</p>

<a name="solde"></a>
<hr><h2>Le solde famille</h2>
<p>
	&nbsp;</p>
<p>
	Pour consulter le compte Famille, rendez-vour sur l&#39;onglet &#39;Famille&#39; puis choisir la famille concern&eacute;e, l&#39;&eacute;cran suivant apparait :</p>
<p>
	<%= image_tag "guide/oc8.png", :size => "964x655" %>
<p>
	&nbsp;</p>
<p>
	Dans notre exemple, le solde de la famille est de 0.00&euro;. Le montant est affich&eacute; en rouge, s&#39;il est d&ucirc; par la famille.</p>
<p>
	Un solde positif signifirait au contraire que c&#39;est la mairie qui doit cette somme &agrave; la famille.</p>
<p>
	Pour &eacute;quilibrer le solde de la famille il est n&eacute;cessaire d&#39;ajouter un paiement, ch&egrave;que, esp&egrave;ce ou avoir.</p>
<p>
	&nbsp;</p>

<a name="facturation"></a>
<hr><h2>La facturation</h2>
<p>
	La facturation des prestations d&#39;une famille est &agrave; faire lorsque les prestations sont consomm&eacute;es, et avant d&#39;envoyer la feuille d&#39;inscription du mois suivant, car la facture permet de faire le compte des prestations annul&eacute;es, ajout&eacute;es, en plus des prestations command&eacute;es, et d&#39;avoir ainsi un solde famille &agrave; jour.</p>
<p>
	La facture mensuelle de la famille regroupe toutes les prestations des tous les enfants de la famille et indique le solde de la famille.</p>
<p>
	Si votre mairie a un tarif sp&eacute;cial, par exemple pour les prestations ajout&eacute;es hors inscription ou un nombre de jours de carence &agrave; appliquer sur les annulations, c&#39;est au moment de la facturation que ces r&egrave;gles de gestion vont s&#39;appliquer.</p>
<p>
	La facture comptabilisera toutes les prestations d&#39;une famille &agrave; partir de la date de la plus ancienne prestation non factur&eacute;e et jusqu&#39;&agrave; la derni&egrave;re prestation de ce m&ecirc;me mois.</p>
<p>
	Une fois la facture cr&eacute;&eacute;e, il ne sera plus possible de modifier les &eacute;l&eacute;ments qui la constituent. Ainsi, les prestations d&eacute;j&agrave; factur&eacute;es d&#39;un enfant ne pourront plus &ecirc;tre modifi&eacute;es.&nbsp;</p>
<p>
	Le formulaire &quot;Famille&quot; permet de voir le nombre de prestations non factur&eacute;es par enfant :</p>
<p>
	<%= image_tag "guide/oc8.png" %>
<p>
	Pour voir en d&eacute;tail les prestations qui seront factur&eacute;es pour un enfant, rendez-vous sur la fiche de l&#39;enfant et cliquez sur le filtre &quot;Prestations:&nbsp; Non factur&eacute;es&quot;.</p>
<p>
	<em>Il est encore possible de modifier les prestations, apr&egrave;s il sera trop tard...<br />
	</em></p>
<p>
	<em>&nbsp;</em></p>
<p>
	<%= image_tag "guide/oc14.png", :size => "962x638" %>
<p>
	Le totel indiqu&eacute; en fin de ligne est le montant des prestations de la journ&eacute;e, hors prestations annul&eacute;es ou ajout&eacute;es depuis l&#39;inscription.</p>

<a name="facture"></a>
<hr><h2>Cr&eacute;er une facture</h2>
<p>
	&nbsp;</p>
<p>
	La facturation se fait famille par famille. Rendez-vous donc sur la page de la famille que vous souhaitez facturer.</p>
<p>
	La liste des enfants indique le nombre de repas, garderie et centre &agrave; facturer.</p>
<p>
	<%= image_tag "guide/oc8.png", :size => "964x655" %>
<p>
	En cliquant sur le lien &quot;Facturer&quot;, le formulaire suivant appara&icirc;t :</p>
<p>
	<%= image_tag "guide/oc15.png" %>
<p>
	La facture ne sera cr&eacute;&eacute;e en cliquant sur le bouton &quot;Valider&quot;.</p>
<p>
	&nbsp;</p>
<p>
	<img alt="" src="http://www.opencantine.net/sites/default/files/images/oc16.png" /></p>
	<%= image_tag "guide/oc16.png" %>
<p>
	&nbsp;</p>
<p>
	Pour imprimer cette facture, cliquez sur le lien &quot;Aper&ccedil;u avant Impression&quot;.</p>
<p>
	&nbsp;</p>
<p>
	<%= image_tag "guide/oc17.png", :size => "968x625" %>
<a name="releve"></a>
<hr><h2>Le relevé de compte</h2>
<p>
	Le relev&eacute; de compte permet de lister l&#39;ensemble des mouvements financiers d&#39;une famille. Cette liste fait apparaitre, par ordre chronologique, les factures, les paiements et le solde &agrave; date.</p>
<p>
	Pour y acc&eacute;der, rendez-vous sur la fiche d&#39;une famille et cliquez sur le solde qui se trouve dans le cartouche &quot;financier&quot;.</p>
<p>
	&nbsp;</p>
<p>
	<%= image_tag "guide/oc18.png" %>
<p>
	&nbsp;</p>

<a name="paiements"></a>
<hr><h2>Les Paiements</h2>
<p>
	Pour ajouter un paiement, cliquez sur le lien &quot;Ajouter un paiement&quot; dans l&#39;onglet Paiement.</p>
<p>
	La page suivante s&#39;ouvre :</p>
<p>
	<%= image_tag "guide/oc19.png" %>
<p>
	Compl&eacute;tez le formulaire selon les informations de paiement.</p>
<p>
	Les types de paiement peuvent &ecirc;tre :</p>
<ul>
	<li>
		Ch&egrave;que</li>
	<li>
		Esp&egrave;ces</li>
	<li>
		Avoir (dans le cas d&#39;un trop per&ccedil;u ou d&eacute;ficit sur l&#39;exercice pr&eacute;c&eacute;dent)</li>
</ul>
<p>
	Vous pouvez d&eacute;tailler le &quot;Montant Cantine&quot; et le &quot;Montant garderie&quot;si ces informations doivent figurer dans la remise de ch&egrave;ques pour la tr&eacute;sorerie.&nbsp;</p>
<p>
	<em>Ne remplissez la zone &quot;Date remise TP&quot; que si le ch&egrave;que a &eacute;t&eacute; remis au Tr&eacute;sor.</em></p>
<p>
	Cliquez sur &quot;Sauvegarder&quot; pour enregistrer le paiement et retourner &agrave; l&#39;onglet &quot;Paiements&quot;.</p>
<p>
	L&#39;onglet &quot;Paiements&quot; pr&eacute;sente la liste de tous les paiements, tri&eacute;s par date d&eacute;croissante.</p>
<p>
	Vous pouvez indiquer une r&eacute;f&eacute;rence de paiement &agrave; rechercher dans la zone &quot;R&eacute;f&quot; et cliquer sur &quot;Filtrer&quot; pour ne voir que les paiements qui correspondent &agrave; ce crit&egrave;re.</p>
<p>
	<%= image_tag "guide/oc20.png" %>
</p>

<a name="remise"></a>
<hr><h2>Remise de chèques</h2>
<p>
	Une fois que tous les paiements auront &eacute;t&eacute; enregistr&eacute;s, les ch&egrave;ques devront &ecirc;tre d&eacute;pos&eacute;s &agrave; la Tr&eacute;sorerie.</p>
<p>
	Un bordereau de remise de ch&egrave;que peut &ecirc;tre imprim&eacute; en cochant&nbsp; &quot;Ch&egrave;ques non remis ?&quot; dans la page &quot;Paiements&quot;.</p>
<p>
	Ce bordereau ne contient que les paiements de type &quot;ch&egrave;que&quot; et qui n&#39;ont pas de date de remise.</p>
<p>
	<%= image_tag "guide/oc21.png", :size => "965x293" %>
<p>
	<em>Une fois la remise de ch&egrave;ques r&eacute;ellement effectu&eacute;e aupr&egrave;s de la Tr&eacute;sorerie, vous devez mettre &agrave; jour la date de remise.</em></p>
<p>
	Ceci peut &ecirc;tre fait automatiquement, simplement en cliquant que la date situ&eacute;e en haut &agrave; gauche du bordereau. La date du jour sera alors enregistr&eacute;e pour chaque ch&egrave;que de la liste.</p>

<a name="portail"></a>
<hr><h2>Portail Parents</h2>
<p>
	Les familles peuvent consulter leur rel&eacute;v&eacute; de compte ansi que les r&eacute;servations en cours. Avec Paypal, les parents peuvent payer facilement leurs factures, il suffit de configurer une compte vendeur pour que votre association puisse recevoir l'argent.</p>
<p>
	L&#39;acc&egrave;s au site sp&eacute;cial &#39;Familles&#39; se fait en allant sur <a href="http://demonstration.opencantine.net/moncompte/famillelogin">demonstration.opencantine.net/moncompte/famillelogin</a></p>
<p>
	Suivre ensuite les instructions pr&eacute;sentes &agrave; l&#39;&eacute;cran.</p>
<p>
	&nbsp;</p>
<hr>
<h2>
	Installation d&#39;openCantine sur un serveur linux debian</h2>
<p><strong>1/ Installation des d&eacute;pendances au framework Ruby on Rails</strong></p>
<p>sudo apt-get install ruby1.9.1-full<br />
	sudo apt-get install ruby1.9.1.dev<br />
	sudo apt-get install build-essential libopenssl-ruby1.9.1 libssl-dev zlib1g-dev<br />
	sudo apt-get install mysql-server<br />
	sudo apt-get install mysql-devel<br />
	sudo apt-get install mysql-dev<br />
	sudo apt-get install mysql-client libmysqlclient-dev<br />
	sudo apt-get install git<br />
	sudo apt-get install curl</p>
<p><strong>2/ Installation du framework Ruby on Rails</strong></p>
<p>sudo gem install rails<br />
	sudo gem install therubyracer</p>
<p><strong>3/ R&eacute;cup&eacute;ration du convertiseur html to PDF</strong></p>
<p>curl -C - -O http://wkhtmltopdf.googlecode.com/files/wkhtmltopdf-0.11.0_rc1-static-amd64.tar.bz2<br />
	tar xvjf wkhtmltopdf-0.11.0_rc1-static-amd64.tar.bz2<br />
	sudo cp wkhtmltopdf-amd64 /usr/bin/wkhtmltopdf</p>
<p><strong>4/ R&eacute;cup&eacute;ration des sources depuis la forge Adullact</strong></p>
<p>git clone https://adullact.net/anonscm/git/opencantine/opencantine.git<br />
	cd opencantine<br />
	bundle<br />
	rake db:migrate</p>
<p><strong>5/ Lance le serveur web </strong></p>
<p>rails s</p>
<p><strong>6/ Et voil&agrave; !</strong></p>
<p>rendez-vous sur localhost:3000</p>
<p><strong>Veuillez ensuite &agrave; maintenir votre version d&#39;openCantine &agrave; jour. </strong></p>
<p><strong>Pour r&eacute;cup&eacute;rer les mises &agrave; jour depuis la forge adullact</strong> :</p>
<p>git pull<br />

<br>
<h3 style="color:#df2599">Vos commentaires et propositions sont les bienvenus et m'aident à améliorer l'application...</h3>
<%= link_to "philippe.nougaillon@gmail.com", "mailto:philippe.nougaillon@gmail.com" %>
<br><br><br>


