<br>

<h2><%= image_tag "familles.jpeg", size:"20x20" %> Importer les données des Familles et Enfants</h2>

<%= form_tag({action: "import_do", method: :post}, multipart: true) do %>
  <div>
    <h3>Cette fonction permet l'importation ou la mise à jour des coordonnées Familles/Enfants depuis un fichier CSV</h3>
    <br>
    <ul>
        <li>Le fichier source peut avoir les colonnes suivantes: 
        	"Civilité", "Nom", "Adresse", "Adresse2", "CP", "Ville", "Email", "Téléphone", "Portable1", "Portable2", "N°Allocataire", "Mémo", "Nom du Tarif", "Enfant_Nom", "Enfant_Prénom", "Enfant_Date_de_naissance", "Enfant_Classe", "Enfant_Nom_du_Tarif"
        </li>
        <li>Ce fichier doit être au format CSV, Encodage=iso-8859-1, Séparateur=Point-virgule, Noms colonnes=Première ligne.</li>
        <li>Exemple de fichier conforme: <%= link_to "famille.csv", "/familles.csv" %></li>
    </ul>
  </div>
  <hr><br>
  <div class="field">
    <%= label :filename, "Fichier source: " %>
    <%= file_field_tag 'upload', accept: 'text/csv' %>
  </div>

  <br>
  <div class="field">
    Enregistrer les changements ? <br>
    <%= label :save, "Oui", :value => "true" %>
    <%= radio_button_tag :save, true %>
    <%= label :save, "Non", :value => "false" %>
    <%= radio_button_tag :save, false, :checked => true %>
    <br><i>Choisissez 'Non' pour tester votre mise à jour car <b>elle est irréversible !</b></i><br />
  </div>
  <br>
  <div class="actions">
    <%= submit_tag "Importer", class: "btn-custom" %>
  </div>
<% end %>