<h3>Paramètres</h3>
<div class="span-17 last">	
		| 
		<%= link_to image_tag("school.png", size:"15x15"), "/familles" %> |
		<%= link_to "Classes", "#classes" %> |
		<%= link_to "Tarifs", "#tarifs" %> |
		<%= link_to "Formules de facturation", "#formules" %> |
		<%= link_to "Vacances", "#vacances" %> |
		<%= link_to "Utilisateurs", "#utilisateurs" %> |
		<%= link_to "Import/Export", "#export" %> |
</div>
<br><br><br>
<div>
   <div class="span-12">	
	    <a name="coordonnees"></a>
	    <h3>Coordonnées
	    	<%= link_to image_tag('modif.png', size:"15x15"), edit_ville_path(@mairie.id) if session[:user_readwrite] %>
	    </h3>
		<hr>
	    <table class="sample">
	      <tr>
			<td>Nom</td>
			<td><b><%=h @mairie.nom %></b></td>
	      </tr>
	      <tr>
			<td>Adresse</td>
			<td><b><%=h @mairie.adr %></b></td>
	      </tr>
	      <tr>
			<td>Cp</td>
			<td><b><%=h @mairie.cp %></b></td>
	      </tr>
	      <tr>
			<td>Ville</td>
			<td><b><%=h @mairie.ville %></b></td>
	      </tr>
	      <tr>
			<td>Tél</td>
			<td><b><%=h @mairie.tel %></b></td>
	      </tr>
	      <tr>
			<td>Email</td>
			<td><%= @mairie.email %></td>
	      </tr>
		  <tr>
			<td>Logo</td>
			<td><%= link_to image_tag(@mairie.logo_url,  width:'100', alt:'Pas de logo'), @mairie.logo_url, target:"_blank" unless @mairie.logo_url.blank? %></td>
	     </tr>
	    </table>
    </div>

 	<div class="span-1"><br></div>	

    <div class="span-11 last">	
	    <a name="portail"></a>
        <h3>Portail parents</h3>
		<hr>
		Le <%= link_to "portail", "/moncompte", target:"_blank" %>
		permet aux parents, selon le mode d'accès choisi, de consulter ses factures et prestations, et de saisir les inscriptions.<br><br>   
		<%= form_for @mairie, url:"change_acces_portail" do |f| %>
			<%= f.radio_button :portail, 0 %> Pas d'accès <br><br>
			<%= f.radio_button :portail, 1 %> Accès en lecture (Vue des factures et prestations en cours) <br><br>
			<%= f.radio_button :portail, 2 %> Accès en écriture (Inscription aux prestations à J-1) <br><br>
			<%= f.submit "Modifier" %>
		<% end %>
		<br><br><br><br><br><br><br>
	</div>	

    <div class="span-12 last">	
	    <br>
	    <a name="classes"></a>
        <h3>Classes
	        <%= link_to image_tag('modif.png', size:"15x15"), classrooms_path if session[:user_readwrite] %>
        </h3>
		<hr>

	    <table class="sample">
		<th>Nom</th>
		<th>Enseignant</th>
		<th>Elèves</th>
		 <% for c in @classrooms %>
		      <tr  class="<%= cycle('list-line-even','list-line-odd')%>">
		      <td><b><%= c.nom %></b></td>
		      <td><%= c.referant %></td>
		      <td><%= Enfant.count(:conditions => ["classe = ?", c.id]) %> </td>
		      </tr>
		 <% end %>
	    </table>
    </div>

	<div class="span-1"><br></div>	

    <div class="span-11 last ">	
    	<br>	
		<a name="vacances"></a>
		<h3>Vacances
		    <%= link_to image_tag('modif.png', size:"15x15"), vacances_url  if session[:user_readwrite] %>
		</h3>
		<hr>
	    <table class="sample">
	      <tr>
			<th>Nom</th>
			<th>Débutent le</th>
			<th>Se terminent le</th>
	      </tr>
	      <% for vacance in @vacances %>
			<tr class="<%= cycle('list-line-even','list-line-odd')%>">
			  <td><%=h vacance.nom %></td>
			  <td><%=h vacance.debut.to_s(:fr) %></td>
			  <td><%=h vacance.fin.to_s(:fr) %></td>
			</tr>
	      <% end -%>
	    </table>
    </div>


    <div class="span-24 last">
    	<br>	
	    <a name="tarifs"></a>
	    <h3>Tarifs
	    	<%= link_to image_tag('modif.png', size:"15x15"), tarifs_path if session[:user_readwrite] %> 
	    </h3>
		<hr>
	    <table class="sample">
	     <tr>
			<th>Nom</th>
			<th>Repas</th>
			<th>Garderie Matin</th>
			<th>Garderie Après-midi</th>
			<th>Centre Matin</th>
			<th>Centre Après-midi</th>
			<th>Centre Journée</th>
			<th>Etude</th>
	      </tr>
	      <% for tarif in @tarifs %>
			<tr class="<%= cycle('list-line-even','list-line-odd')%>">
			  <td><%=h tarif.memo %></td>
			  <td id="sum"><%=h number_to_currency(tarif.RepasP, :locale => "fr") %></td>
			  <td id="sum"><%=h number_to_currency(tarif.GarderieAMP, :locale => "fr") %></td>
			  <td id="sum"><%=h number_to_currency(tarif.GarderiePMP, :locale => "fr") %></td>
			  <td id="sum"><%=h number_to_currency(tarif.CentreAMP, :locale => "fr") %></td>
			  <td id="sum"><%=h number_to_currency(tarif.CentrePMP, :locale => "fr") %></td>
			  <td id="sum"><%=h number_to_currency(tarif.CentreAMPMP, :locale => "fr") %></td>
			  <td id="sum"><%=h number_to_currency(tarif.Etude, :locale => "fr") %></td>
			</tr>
	      <% end %>
	    </table>
		<small>Ces tarifs doivent être attribués aux familles ou à chaque enfant d'une famille si vous souhaitez appliquer un tarif différent par enfant.</small>
		<br><br>
    </div>

	<div class="span-24 last">
    	<br>	
      	<a name="formules"></a>
      	<h3>Formules de facturation
		 	<%= link_to image_tag('modif.png', size:"15x15"), edit_ville_path(@mairie.id) if session[:user_readwrite] %>
      	</h3>
	  	<hr>
      	<table class="sample">
         	<tr>
	    		<th>Nom de la formule</th>
            	<th>Description</th>
            	<th>Actif?</th>
         	</tr>
         	<% for f in Formule.all %>
	  	   		<tr  class="<%= cycle('list-line-even','list-line-odd')%>">
		         	<td><%= f.nom  %></td>
		         	<td><%= f.memo %></td>
			 		<td style="text-align:center;"><%= image_tag "yes.png" if (@mairie.FacturationModuleName == f.module_name) %></td>
           		</tr>	 
         	<% end %>
      	</table>
      	<small>Choisissez comment seront calculées vos factures. Si vous souhaitez le développement d'un mode de facturation personnalisé, <a href="mailto:philippe.nougaillon@gmail.com">contactez-moi</a>. </small>
      	<br><br>
    </div>

    <div class="span-12">	
    	<br>	
		<a name="utilisateurs"></a>
		<h3>Utilisateurs
			<%= link_to image_tag('modif.png', size:"15x15"), :action => "users_admin" if session[:user_readwrite] %>
		</h3>
		<hr>
		<table class="sample">
	      	<tr>
				<th />
				<th>Nom</th>
				<th>Droits</th>
				<th>Dernière connexion</th>
		   	</tr>
		   	<% for u in @users %>
			  	<tr class="<%= cycle('list-line-even','list-line-odd')%>">
					<td><%= image_tag("icon_user.png" ) %></td>
					<td><b><%= u.username[0..30] %></b></td>
					<td>Lecture <% if u.readwrite %> + Ecriture <% end %></td>
					<td><%= u.lastconnection.to_s(:fr) %> </td>
				</tr>
       	   <% end -%>
	    </table>
		<small>Plusieurs utilisateurs peuvent travailler simultanément sur un compte openCantine et lire et/ou modifier les données.</small>

	</div>

	<div class="span-1"><br></div>	

	<% if session[:user_readwrite] %>
		<div class="span-12 last">	
		    <a name="export"></a>
		    <h3>Import/Export</h3>
			<hr>
		  	<%= link_to "Importer données Familles et Enfants", :action => "import" %><br>
		  	<% if session[:user_readwrite] %>	
				 <%= link_to "Importer pointages", :controller => 'upload' %><br>
		  	<% end %>
		  	<%= link_to "Export XML des Familles et données liées (enfants, prestations)", "/familles.xml" %><br>
		  	<%= link_to "Export XML des Factures et données liées (lignes de factures)", "/factures.xml" %>
		  	<%= link_to "Excel", factures_path(format: "xls") %><br>
		  	<%= link_to "Export XML des Paiements", "/paiements.xml" %><br>
		  	<%= link_to "Export Excel des Paiements", paiements_path(format: "xls") %>
		  	<br><br>
		</div>
	<% end %>
</div>
