<h3>Paramètres</h3>
	
<%= link_to "Coordonnées", "#coordonnees" %> |
<%= link_to "Accès Parents", "#portail" %> |
<%= link_to "Classes", "#classes" %> |
<%= link_to "Vacances", "#vacances" %> |
<%= link_to "Tarifs", "#tarifs" %> |
<%= link_to "Utilisateurs", "#utilisateurs" %> |
<%= link_to "Import/Export", "#export" %>
<br><br><br>


<a name="coordonnees"></a>
<h3>Coordonnées
	<%= link_to image_tag('modif.png', size:"15x15"), edit_ville_path(@mairie.id) if session[:user_readwrite] %>
</h3>
<hr>
<table>
  <tr />		
  <tr>
	<td>Nom</td>
	<td><b><%=h @mairie.nom %></b></td>
  </tr>
  <tr>
	<td>Adresse</td>
	<td><b><%=h @mairie.adr %></b></td>
  </tr>
  <tr>
	<td>Cp</td>
	<td><b><%=h @mairie.cp %></b></td>
  </tr>
  <tr>
	<td>Ville</td>
	<td><b><%=h @mairie.ville %></b></td>
  </tr>
  <tr>
	<td>Tél</td>
	<td><b><%=h @mairie.tel %></b></td>
  </tr>
  <tr>
	<td>Email</td>
	<td><%= @mairie.email %></td>
  </tr>
  <tr>
	<td>Logo</td>
	<td><%= link_to image_tag(@mairie.logo_url,  width:'100', alt:'Pas de logo'), @mairie.logo_url, target:"_blank" unless @mairie.logo_url.blank? %></td>
 </tr>
</table>

<br><br>
<a name="portail"></a>
<h3>Portail parents</h3>
<hr>
Le <%= link_to "portail", "/moncompte" %> permet aux parents de consulter leur compte, factures et prestations, et de saisir les inscriptions.
<br><br>   
<%= form_for @mairie, url:"change_acces_portail" do |f| %>
	<%= f.radio_button :portail, 0 %> Pas d'accès <br><br>
	<%= f.radio_button :portail, 1 %> Accès en lecture (Vue des factures et prestations en cours) <br><br>
	<%= f.radio_button :portail, 2 %> Accès en écriture (Inscription aux prestations à J-1) <br><br>
	<%= f.submit "Modifier" %> | <%= link_to "Accéder au portail parents", "/moncompte" %>
<% end %>

<br><br><br>
<a name="classes"></a>
<h3>Classes
    <%= link_to image_tag('modif.png', size:"15x15"), classrooms_path if session[:user_readwrite] %>
</h3>
<hr>
<table>
	<th>Nom</th>
	<th>Enseignant</th>
	<th>Elèves</th>
	 <% for c in @classrooms %>
	      <tr  class="<%= cycle('list-line-even','list-line-odd')%>">
	      <td><b><%= c.nom %></b></td>
	      <td><%= c.referant %></td>
	      <td><%= Enfant.count(:conditions => ["classe = ?", c.id]) %> </td>
	      </tr>
	 <% end %>
</table>

<br><br>	
<a name="vacances"></a>
<h3>Vacances
    <%= link_to image_tag('modif.png', size:"15x15"), vacances_url  if session[:user_readwrite] %>
</h3>
<hr>
<table>
  <tr>
	<th>Nom</th>
	<th>Débutent le</th>
	<th>Se terminent le</th>
  </tr>
  <% for vacance in @vacances %>
	<tr class="<%= cycle('list-line-even','list-line-odd')%>">
	  <td><%=h vacance.nom %></td>
	  <td><%=h vacance.debut.to_s(:fr) %></td>
	  <td><%=h vacance.fin.to_s(:fr) %></td>
	</tr>
  <% end -%>
</table>

<br><br>	
<a name="tarifs"></a>
<h3>Tarifs
	<%= link_to image_tag('modif.png', size:"15x15"), tarifs_path if session[:user_readwrite] %> 
</h3>
<hr>
<table>
 <tr>
	<th>Nom</th>
	<th>Repas</th>
	<th>Garderie Matin</th>
	<th>Garderie Après-midi</th>
	<th>Centre Matin</th>
	<th>Centre Après-midi</th>
	<th>Centre Journée</th>
	<th>Etude</th>
  </tr>
  <% for tarif in @tarifs %>
	<tr class="<%= cycle('list-line-even','list-line-odd')%>">
	  <td><%=h tarif.memo %></td>
	  <td id="sum"><%=h number_to_currency(tarif.RepasP, :locale => "fr") %></td>
	  <td id="sum"><%=h number_to_currency(tarif.GarderieAMP, :locale => "fr") %></td>
	  <td id="sum"><%=h number_to_currency(tarif.GarderiePMP, :locale => "fr") %></td>
	  <td id="sum"><%=h number_to_currency(tarif.CentreAMP, :locale => "fr") %></td>
	  <td id="sum"><%=h number_to_currency(tarif.CentrePMP, :locale => "fr") %></td>
	  <td id="sum"><%=h number_to_currency(tarif.CentreAMPMP, :locale => "fr") %></td>
	  <td id="sum"><%=h number_to_currency(tarif.Etude, :locale => "fr") %></td>
	</tr>
  <% end %>
</table>
<small>Ces tarifs doivent être attribués aux familles ou à chaque enfant d'une famille si vous souhaitez appliquer un tarif différent par enfant.</small>
<br><br>

<br><br>	
<a name="utilisateurs"></a>
<h3>Utilisateurs
	<%= link_to image_tag('modif.png', size:"15x15"), :action => "users_admin" if session[:user_readwrite] %>
</h3>
<hr>
<table>
  	<tr>
		<th />
		<th>Nom</th>
		<th>Droits</th>
		<th>Dernière connexion</th>
   	</tr>
   	<% for u in @users %>
	  	<tr class="<%= cycle('list-line-even','list-line-odd')%>">
			<td><%= image_tag("icon_user.png" ) %></td>
			<td><b><%= u.username[0..30] %></b></td>
			<td>Lecture <% if u.readwrite %> + Ecriture <% end %></td>
			<td><%= u.lastconnection.to_s(:fr) %> </td>
		</tr>
	   <% end -%>
</table>
<small>Plusieurs utilisateurs peuvent travailler simultanément sur un compte openCantine et lire et/ou modifier les données.</small>

<% if session[:user_readwrite] %>
    <a name="export"></a>
    <br><br>
    <h3>Import/Export</h3>
	<hr>
  	<%= link_to "Importer données Familles et Enfants", :action => "import" %><br>
  	<% if session[:user_readwrite] %>	
		 <%= link_to "Importer pointages", :controller => 'upload' %><br>
  	<% end %>
  	<%= link_to "Export XML des Familles et données liées (enfants, prestations)", "/familles.xml" %><br>
  	<%= link_to "Export XML des Factures et données liées (lignes de factures)", "/factures.xml" %>
  	<%= link_to "Excel", factures_path(format: "xls") %><br>
  	<%= link_to "Export XML des Paiements", "/paiements.xml" %><br>
  	<%= link_to "Export Excel des Paiements", paiements_path(format: "xls") %>
  	<br><br>
<% end %>
