<div id="main" class="span-16">
 <h3>Gestion et facturation des prestations de cantine et périscolaires</h3>

 <%= link_to "Présentation de l'application", :action => "points_forts" %> |
 <%= link_to "Guide", :action => "guide" %> |
 <%= link_to "Tester", :controller => "admin", :action => "check_user", :demo => true %> |
 <%= link_to "S'incrire", :controller => "villes", :action => "nouveau_compte" %>

 <br><br>
 <b>Quoi de neuf ?</b>
 <% for b in @blogs %>
   <div style="color:darkblue;font-size:120%"><%= b.titre %></div>
   <small>il y a <%= time_ago_in_words(b.updated_at) %></small><br>
   <%= b.texte.html_safe %>
   <br><br>
 <% end %>
 <%= will_paginate @blogs %>
 <br><br>
</div>

<div class="span-1"><br></div>

<div id="main" class="span-6">
    <% if session[:user].nil? %>
	  <fieldset>
	  		<legend>Connexion</legend> 
	 	 	<%= form_for(User.new, :remote => true, :url => { :controller => "admin", :action => "check_user"}) do |f| %>
				<label for="username">Nom d'utilisateur</label><br>
				<%=  f.text_field "username", :size => 20 %><br>
				<label for="password">Mot de passe</label><br>
				<%=  f.password_field "password", :size => 20 %><br>
	 
	   		    <div id="login_msg"></div>

				<div style="margin-top:25px;">
				   <%= submit_tag "Connexion" %>
				</div>
		  <% end %>	  
	  </fieldset>
	<% end %>
</div>

