<div id="main" class="span-14">
  <table>
    <tr>
      <td>
        <b>Application libre de gestion et de facturation des prestations périscolaires.</b><br>
		<span style="color:red;font-size:85%">Version 3</span>
	    <br><br>
        <h3 style="font-size:150%">Quoi de neuf ?</h3>
        <hr>
        <% for b in @blogs %>
           <div style="color:darkblue;font-size:120%"><%= b.titre %></div>
		   <small><%= b.updated_at.to_s(:fr) %></small><br>
           <%= b.texte.html_safe %>
 	       <hr>
        <% end %>
      </td>
	</tr>
	</table>
	<%= will_paginate @blogs, :previous_label => "<", :next_label => ">" %>
</div>
<div class="span-2">
	<br>
</div>

<div id="main" class="span-6">
     <% if session[:user].nil? %>
	  <fieldset>
	  		<legend>Connexion</legend> 
	 	 	<%= form_for(User.new, :remote => true, :url => { :controller => "admin", :action => "check_user"}) do |f| %>
		    <label for="username">Nom d'utilisateur</label><br>
		    <%=  f.text_field "username", :size => 20 %><br>
		    <label for="password">Mot de passe</label><br>
		    <%=  f.password_field "password", :size => 20 %><br>
 
   		    <div id="login_msg"></div>

		    <div style="margin-top:15px;">
		       <%= image_submit_tag "valider.gif" %>
		    </div>
		  <% end %>	  
	  </fieldset>
	  <fieldset>
	  	<legend></legend> 
		  	<%= link_to "Points forts", :action => "points_forts" %>
		  	<br><br>
		  	<%= link_to "Guide d'utilisation", :action => "guide" %>
		  	<br><br>
		  	<%= link_to "Accès Démonstration", :controller => "admin", :action => "check_user", :demo => true %>
		  	<br><br>
		  	<%= link_to "Créer un compte", :controller => "villes", :action => "nouveau_compte" %>
		  	<br><br>
  	      	<%= link_to "Contact", "mailto:philippe.nougaillon@gmail.com" %>
	   </fieldset>
	   <small>Optimisé pour</small><br>
	   <%= link_to image_tag("firefox.png"), "http://www.mozilla.org/fr/firefox/fx/" %>
	 <% end %>

</div>
<div class="span-2 last">
	<br>
</div>

