<br>
<h2>Statistiques d'utilisation</h2>
<p>
   Comptes:  <b><%= Ville.count %></b>
   Factures: <b><%= Facture.count %></b>
</p>
<table>
	<th>Dernière connexion</th>
	<th>Nom du Compte</th>
	<th>Mairie</th>
	<th>Dep.</th>
	<th>Familles</th>
	<th>Enfants</th>
	<th>Factures</th>
	<th>Création compte</th>
	<th>Ville ID</th>

	<% for user in @users %>
   	   <% ville = Ville.find(user.mairie_id) %>
	   <% if ville.familles.count > 0 %>
		    <tr>
		      <td><b><%= time_ago_in_words(user.lastconnection) %></b></td>
		      <td><%= user.username %> </td>
		      <td><%= ville.nom %> </td>
		      <td><%= ville.cp[0..1] if ville.cp %> </td>
		      <td><b><%= ville.familles.count %></b> </td>
	   	      <td><b><%= ville.enfants.count %></b></td>
		      <td><b><%= Facture.find_all_by_mairie_id(user.mairie_id).count %></b></td>
		      <td><%= time_ago_in_words(ville.created_at) %></td>
		      <td><%= user.mairie_id %></td>
		    </tr>
	   <% end %>
	<% end %>
</table>
