<div class="span-14 last">
	<br><br>

	<h3>Modifier compte utilisateur</h3>
	<br>
	<% form_for(@user, :url => { :action => 'user_update' }) do |f| %>

		<table class="form">
		  <tr>
		    <td id="label"><%= f.label "Utilisateur" %> </td>
		    <td><%= f.text_field :username, :size => 30, :disabled => true %></td>
		  </tr>
		  <tr>
		    <td id="label"><%= f.label 'Mot de passe' %> </td>
		    <td><%= password_field_tag :password %></td>
		  </tr>
		  <tr>
		    <td id="label"><%= f.label 'Droits' %> </td>
		    <td>Lecture<% if session[:user_readwrite] %>+Ecriture <% end %></td>
		  </tr>
		  <tr>
		    <td id="label">Dernière connexion le</td>
		    <td><%= @user.lastconnection.to_s(:fr) %></td>
		  </tr>
		    <tr>
		    <td id="label">Mot de passe changé le</td>
		    <td><%= @user.lastchange.to_s(:fr) %></td>
		  </tr>
		  <tr>
		     <td></td>
		     <td>
		       <div style="margin-top:10px;">
			  <%= image_submit_tag "valider.gif" %>
		       </div>
		     </td>
		   </tr>
		</table>

	<% end %>
</div>

