  <% @enfant.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end %>

  <%= f.hidden_field :famille_id %>

  <%= f.label 'Famille' %><%= Famille.find(@enfant.famille_id).nom.upcase %>
  <br><br>
  <%= f.input :prenom, label:'Prénom', :input_html => {size: 25} %>
  <%= f.input :nomfamille, label:'Nom de famille', :input_html => {size: 25} %>
  <%= f.input :dateNaissance, label:'Date de naissance', :input_html => {size:8}, hint:'Au format 06.01.1999' %>
  <%= f.input :classe, collection: Classroom.where("mairie_id = ?",session[:mairie]).order(:nom), value_method: :id, label_method: :nom %>
  <%= f.input :tarif_id, collection:Tarif.where("mairie_id = ?",session[:mairie]).order(:memo), value_method: :id, label_method: :memo, hint:"Si aucun tarif n'est choisi, c'est celui de la famille qui sera pris en compte" %>

  <%= f.input :sansPorc, label:'Repas sans porc ?' %> 
  <%= f.input :allergies, label:'Allergies' %>

  <br>
  <div style="margin-left:170px;">
    <%= f.submit "Enregistrer" %>
  </div>