  <div id="form_actions">
  <%= form_tag request.path, :method => 'get' do %>
    Nom/Prénom :
    <%= text_field_tag :search, params[:search], id: "navbar-search-input", class: 'form-control' %>
    Classe :
    <%= select_tag 'classe', options_for_select(@classes, params[:classe]), include_blank:true %>
    <%= submit_tag 'Rechercher' %>
    <span id="adroite">  
      <%= link_to "Imprimer", enfants_liste_path(params), :target => "_blank" %>
    </span>
  <% end %>
</div>
<div id="form_body">
  <table>
    <tr>
      <th><%= link_to "Nom", url_for(params.merge(sort:"nomfamille")) %></th>
      <th><%= link_to "Prénom", url_for(params.merge(sort:"prenom")) %></th>
      <th><%= link_to "Classe", url_for(params.merge(sort:"classe")) %></th>
      <th>Enseignant</th>
      <th><%= link_to "Date Naissance", url_for(params.merge(sort:"dateNaissance")) %></th>
      <th><%= link_to "Age", url_for(params.merge(sort:"age")) %></th>
      <th><%= link_to "Menu", url_for(params.merge(sort:"sansPorc, allergies")) %></th>
      <% if session[:user_readwrite]%><th>Inscription</th><% end %>
    </tr>

    <% for enfant in @enfants %>
      <tr class="<%= cycle('list-line-even','list-line-odd') %> ">
        <td><b><%=link_to enfant.nomfamille.upcase, enfant.famille %></b></td>
        <td><b><%=link_to enfant.prenom, enfant %></b></td>
        <td><%=h enfant.classroom.nom if enfant.classroom %></td>
        <td><%=h enfant.classroom.referant if enfant.classroom %></td>
        <td><%=h enfant.dateNaissance %></td>
        <td style="text-align:right"><%=h enfant.age %></td>
        <td><% if enfant.sansPorc %>Sans Porc. <% end %> <% if enfant.allergies %>Allergies.<% end %></td>
        <% if session[:user_readwrite] %>
          <td>
            <%= link_to "Manuelle", prestations_new_manual_path(mois:Date.today.month, year:Date.today.year, id:enfant.id), data:{ no_turbolink: true } %>
            | 
            <%= link_to "Automatique", new_prestation_path(enfant_id:enfant.id) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br>
  <%= page_entries_info @enfants %>
  <%= will_paginate @enfants %>
  <br>
</div>
