<br>
<h3>Gestion des prestations de cantine et périscolaires</h3>
<br>

<% if iphone_user_agent? %>
  <br>Utilisateurs d'iPhone, veuillez vous connecter 
  <%= link_to "ici", action: 'famillelogin_iphone' %>
<% end %>

<h4>
Connectez-vous pour connaitre la situation de votre compte, vos inscriptions en cours ou effectuer un paiement
</h4>

<br>

<% if session[:famille_id].nil? %>
  <div class="span-8 last">
	  <fieldset>
      <%= form_tag :action => "famillelogin"  do %>
        <label for="username">N° de famille ou Adresse mail</label><br>
        <%= text_field_tag("email", params[:email] ,:size => 25) %><br>
  
        <label for="password">Mot de passe</label><br>
        <%= password_field_tag "password", params[:password], :size => 25 %><br>
        <br>

        <%= submit_tag "Connexion"%> | 
        <%= link_to "Mot de passe oublié?", "mdpoublie" %> 
      <% end %>
	  </fieldset>
  </div>
<% else %>
  <%= link_to "Accéder à mon compte", :action => 'familleshow' %>
  <%= link_to "Se déconnecter", :action => 'famillelogout' %>
<% end %>



