<h2>Famille <%= @famille.nom %></h2> 
<h3>Relevé de compte</h3>
<% unless params[:all] %>
  Liste des 5 derniers mouvements. <%= link_to "Afficher tout", action:"familleshow", all:1 %>
<% else %>
  Liste de tous les mouvements. <%= link_to "Afficher que les 5 derniers mouvements.", action:"familleshow" %>
<% end %>
<hr>
<table class="sample">
  <thead>
    <th>Date</th><th>Type</th><th>Référence</th><th>Facture</th><th>Débit</th><th>Crédit</th><th>Solde</th>
  </thead>

  <% for l in @releve %>
    <tr>
      <td><%= l[:date].to_s(:fr) %></td>
      <td><%= l[:type] %></td>
      <td><%= l[:ref] %></td>
      <% if l[:type] == "Facture" %>
        <td>
          <%= link_to image_tag("pdf-logo.png", size:'20x20'), action:"famillefacture", ref:l[:ref] %>
        </td>
        <td id="euros"><%= number_to_currency(l[:mnt], unit:'€') %></td>
        <td />
      <% else %>
        <td />
        <td id="euros"><%= number_to_currency(l[:mnt], unit:'€') %></td>
      <% end %>
      <td id="euros"><%= number_to_currency(l[:solde], unit:'€') %></td>
    </tr>
  <% end %>
  <tr style="background-color:#FFFFA0;">
    <td><%= Date.today.to_s(:fr) %></td>
    <td>SOLDE A CE JOUR</td>
    <td />
    <td />
    <td id="euros"><%= number_to_currency(@debit, unit:'€') %></td>
    <td id="euros"><%= number_to_currency(@credit, unit:'€') %></td>
    <td id="sum"> <%= number_to_currency(@solde, unit:'€') %></td>
  </tr>
</table>
<br />
<h3>Inscriptions</h3>
Liste des inscriptions en cours et non facturées
<hr>
<% for e in @famille.enfants %>
   <h3><%= e.prenom %></h3> 
	 <table class="sample">
      <tr>
        <th>Date</th>
        <th>Enfant</th>
        <th>Repas</th>
        <th>Garderie matin</th>
        <th>Garderie soir</th>
        <th>Centre matin</th>
        <th>Centre soir</th>
        <th>Etude</th>
      </tr>
   	  <% for p in e.prestations.afacturer %>
        <tr>
          <td><%=h format_date(p.date) %></td>
          <td><%= p.enfant.prenom %></td>
          <td class="center"><%= image_tag @images[p.repas.to_i] if p.repas != '0' %></td>
          <td class="center"><%= image_tag @images[p.garderieAM.to_i] if p.garderieAM != '0' %></td>
          <td class="center"><%= image_tag @images[p.garderiePM.to_i] if p.garderiePM != '0' %></td>
          <td class="center"><%= image_tag @images[p.centreAM.to_i] if p.centreAM != '0' %></td>
          <td class="center"><%= image_tag @images[p.centrePM.to_i] if p.centrePM != '0' %></td>
          <td class="center"><%= image_tag @images[p.etude.to_i] if p.etude != '0' %></td>
        </tr>
	    <% end %>
	</table>
<% end %>
<br>
<br>
<br>