<h3>Gestion et facturation des prestations de cantine et périscolaires</h3>

<% if iphone_user_agent? %>
  <br>Utilisateurs d'iPhone, veuillez vous connecter 
  <%= link_to "ici", action: 'famillelogin_iphone' %>
<% end %>

<h4>
Vous souhaitez connaitre la situation de votre compte, voir vos inscriptions ou effectuer un versement ? <br>
Vous êtes au bon endroit.<br><br>
Veuillez entrer votre email et mot de passe pour vous connecter.<br>
</h4>

<% if session[:famille_id].nil? %>
  <div class="span-9 last">
	  <fieldset>
  	  <legend>Connexion</legend> 
      <%= form_tag :action => "famillelogin"  do %>
        <label for="username">Adresse email</label><br>
        <%= text_field_tag("email", params[:email] ,:size => 25) %><br>
  
        <label for="password">Mot de passe</label><br>
        <%= password_field_tag "password", params[:password], :size => 25 %><br>
        
        <%= submit_tag "Connexion"%>
        <%= link_to "Mot de passe oublié?", "mdpoublie" %> 
      <% end %>
	  </fieldset>
  </div>
<% else %>
  <%= link_to "Accéder à mon compte", :action => 'familleshow' %>
  <%= link_to "Se déconnecter", :action => 'famillelogout' %>
<% end %>



