<div id="form_actions"></div>

<br>
<h3>Modification de facture</h3>

<%= simple_form_for(@facture) do |f| %>
    <%= f.hidden_field :famille_id %>
    <%= f.hidden_field :reglement_id %>
    <%= f.hidden_field :montant %>
	<%= f.input :ref, label:'Référence', input_html: {size: 25} %>
	<%= f.input :date, as: :string, input_html: {class: 'date'} %>
	<%= f.input :echeance, label: 'Echéance', as: :string, input_html: {class: 'date'} %>
	<%= f.input :checked, label:'Vérifiée ?' %>
	<%= f.input :footer, label: 'Commentaire' %>

	<div style="margin-left:170px;">
		<%= f.submit "Sauvegarder" %>
		
		| <%= link_to "Supprimer cette facture", @facture, data: {confirm:"Etes-vous certain(e) de vouloir supprimer la facture ? Notez que les prestations associées seront mises à jour comme 'non facturées' et devront donc être à nouveau facturer."}, method: :delete %>
	</div>
<% end %>
<br><br>