<div id="form_actions"></div>
<br>

<h3>Facturation mensuelle (famille <%= Famille.find(params[:famille_id]).nom %>)</h3>

<%= simple_form_for :facturer, :url => "/factures/create" do |f| %>
    <%= hidden_field_tag :famille_id, params[:famille_id] %>

	<%= f.input :mois, :collection => 1..12,  :selected => Date.today.month %>
	<%= f.input :an, :collection => 2010..2022, :label => 'Année',  :selected => Date.today.year %>
	<%= f.input :commentaire, :as => :text, label: "Commentaire", :required => false %>
 	<div style="margin-left:170px;">
 		<%= f.submit "Facturer"  %>
 	</div>
<% end %>
<br><br>


