<br>
<h3>Facturation mensuelle </h3>
<div id="main" class="span-12 last">
  <fieldset>
  <legend>Choisir un mois à facturer</legend> 
		<%= simple_form_for :facturer, :url => "create" do |f| %>
			<%= f.input :an, :collection => 2010..2020, :label => 'Année',  :selected => Date.today.year %>
			<%= f.input :mois, :collection => 1..12,  :selected => Date.today.month %>

	  	    <p style="display:none"><%= text_field_tag "famille_id", params[:famille_id] %></p>

  	    	<label for="famille_id">Famille</label>
			<%= text_field_tag("Famille_name", Famille.find(params[:famille_id]).nom ,:size => 20) %><br>
			<%= f.input :commentaire, :as => :text, :required => false, label: "Commentaires"  %>
			<%= f.submit "Facturer"  %>
		<% end %>
   </fieldset>
</div>


