<br>
<h3>Facturation du <%= @datedebut.to_s(:fr) %> au <%= @datefin.to_s(:fr) %></h3>

Nombre de factures: <%= @factures.count %><br>
<br>

Total Cantine:  <%= @total_cantine %><br>
Total Garderie: <%= @total_garderie %><br>
Total Centre:   <%= @total_centre %><br>
Total Etude:	<%= @total_etude %><br>
<br>



