<br>
<h3>Facturation du <%= @datedebut.to_s(:fr) %> au <%= @datefin.to_s(:fr) %></h3>

Nombre de factures: <%= @factures.count %><br>
<br>

Total Cantine:  <%= number_to_currency(@total_cantine, :locale => "fr") %><br>
Total Garderie: <%= number_to_currency(@total_garderie, :locale => "fr") %><br>
Total Centre:   <%= number_to_currency(@total_centre, :locale => "fr") %><br>
Total Etude:	<%= number_to_currency(@total_etude, :locale => "fr") %><br>
<br>



