<table>
	<% for todo in @todos %>
	  <tr>
 	    <td><%=h todo.description %></td>
		<td><%= image_tag "ok.jpeg" if todo.done %></td>
		<td><%=h todo.note %></td>
	    <td><%= link_to "edit", :action => "editthewish", :id => todo.id %></td>
	  </tr>
	<% end %>
</table>

<%= simple_form_for(@todo) do |f| %>

    <%= f.input :done %>
    <%= f.input :description, :as => :text %>
    <%= f.input :note, :as => :text %>
    <%= f.submit '' %>

<% end %>

