<br>
<h3>Liste des évolutions proposées par les utilisateurs</h3>
<hr>
<ul>
	<% for todo in @todos %>
		<li>
			<%= image_tag "yes.png" if todo.done %>
			<b><%= todo.mairie.nom if todo.mairie %>: <%= todo.description %></b>
		</li>
		<% if todo.note %>
			<%= image_tag "reply.png" %> <%= h todo.note %></i>
			<br>
		<% end %>
		<br>
	<% end %>
</ul>
<h3>Vous souhaitez participer ?</h3>
<hr>
Déposez ci-dessous votre proposition, j'en tiendrais compte lors des prochaines phases de développement
<br><br>
<%= simple_form_for(@todo) do |f| %>
    <%= f.input :description, label:"Proposition", as: :text %>
    <%= f.submit 'Ajouter' %>
<% end %>
<br><br>