<%= f.hidden_field :famille_id %>
<%= f.input :date, as: :string, :input_html => {size:8, class:'date'} %>
<%= f.label "Famille" %>
<%= link_to @paiement.famille.nom, @paiement.famille %>
<%= f.input :ref, label: "Référence", :input_html => {size: 15}  %>
<%= f.input :typepaiement, collection: %w{ CHEQUE ESPECES AVOIR AUTRE }, label:'Type de paiement' %>
<%= f.input :banque, :input_html => {size: 15}  %>
<%= f.input :chequenum, label:'Chèque N°', :input_html => {size: 15}  %>
<%= f.input :montantCantine, label:"Montant Cantine" %> 
<%= f.input :montantGarderie, label: "Montant Garderie" %> 
<%= f.input :montant, label:"Montant Total", size:10 %>
<%= f.input :remise, as: :string, label:"Date remise", :input_html => {size:8, class:'date'} %>
<%= f.input :memo, as: :text, label:'Mémo' %>

<div style="margin-left:170px;">
    <%= f.submit "Enregistrer" %>
</div>
<br>
<br>
