<div id="form_actions">
  <%= form_tag request.path, :method => 'get' do %>
    Référence :
    <%= text_field_tag "search", params[:search] %>
    <%= submit_tag 'Rechercher' %>
    <span id="adroite">
      <%= link_to("Imprimer", :action => 'listing',:id => 0) %>
      <%= link_to("Export Excel", paiements_path(format: "xls")) %>
    </span>
  <% end %>
</div>

<div id="form_body">
  <% if @paiements.any? %>
    <table class="sample">
      <tr>
        <th><%= link_to "Date", :sort => "date" %></th>
        <th><%= link_to "Famille", :sort => "familles.nom" %></th>
        <th><%= link_to "Réf", :sort => "ref" %></th>
        <th><%= link_to "Type", :sort => "typepaiement" %></th>
        <th><%= link_to "Banque", :sort => "banque" %></th>
        <th><%= link_to "N°", :sort => "chequenum" %></th>
        <th><%= link_to "Cantine", :sort => "montantCantine" %></th>
        <th><%= link_to "Garderie", :sort => "montantGarderie" %></th>
        <th><%= link_to "Total", :sort => "montant" %></th>
        <th><%= link_to "Date Remise", :sort => "remise" %></th>
        <th></th>
        <th></th>
      </tr>

        <% for paiement in @paiements %>
            <tr class="<%= cycle('list-line-even','list-line-odd') %>">
                <td><%= I18n.l(paiement.updated_at) %></td>
                <td><%= link_to Famille.find(paiement.famille_id).nom.upcase, paiement.famille  %></td>
                <td><%=h paiement.ref %></td>
                <td><%=h paiement.typepaiement %></td>
                <td><%=h paiement.banque %></td>
                <td><%=h paiement.chequenum %></td>
                <td style="text-align:right"><%=h number_to_currency(paiement.montantCantine, :locale => "fr") %></td>
                <td style="text-align:right"><%=h number_to_currency(paiement.montantGarderie, :locale => "fr") %></td>
                <td style="text-align:right"><%=h number_to_currency(paiement.montant, :locale => "fr") %></td>
                <td><%=h paiement.remise.to_s(:fr) if paiement.remise %></td>
                <% if session[:user_readwrite] %> 
                    <td><%= link_to image_tag('modif.png', size:"15x15"), edit_paiement_path(paiement) %></td>
                <% end %>
                <td><%= link_to 'Imprimer', :action => 'print', :id => paiement.id %></td>
            </tr>
        <% end %>
    </table>
    <br />
    <%= page_entries_info @paiements %>
    <%= will_paginate @paiements %>
  <% else %>
    Pas de paiements à afficher. Réduisez le filtre et recommencez.
  <% end %>
</div>
