<br>

<%= f.input :memo, label: 'Intitulé', :input_html => {size: 25} %> 
<%= f.input :RepasP, label: "Repas" %> 
<%= f.input :GarderieAMP, label:'Garderie Matin' %> 

<%= f.input :GarderiePMP, label:'Garderie Après-midi' %> 
<%= f.input :CentreAMP, label:'Centre Matin' %> 
<%= f.input :CentrePMP, label:'Centre Après-midi' %> 
<%= f.input :CentreAMPMP, label:'Centre Journée' %> 
<%= f.input :Etude %> 
<br>

<div style="margin-left:170px;">
  <%= f.submit "Valider" %>
</div>
