<p>
  <b>Tarif</b>
  <%=h @tarif.type_id %>
</p>

<p>
  <b>Repasp:</b>
  <%=h @tarif.RepasP %>
</p>

<p>
  <b>Garderieamp:</b>
  <%=h @tarif.GarderieAMP %>
</p>

<p>
  <b>Garderiepmp:</b>
  <%=h @tarif.GarderiePMP %>
</p>

<p>
  <b>Centreamp:</b>
  <%=h @tarif.CentreAMP %>
</p>

<p>
  <b>Centrepmp:</b>
  <%=h @tarif.CentrePMP %>
</p>

<p>
  <b>Centreampmp:</b>
  <%=h @tarif.CentreAMPMP %>
</p>

<p>
  <b>Etude:</b>
  <%=h @tarif.Etude %>
</p>


<%= link_to 'Modifier', edit_tarif_path(@tarif) %> |
<%= link_to 'Retour', tarifs_path %>
