<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Portail parents</title>
  <%= favicon_link_tag '/fav.ico' %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />  

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'application', :media => "all", "data-turbolinks-track" => true  %>

  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen">
  <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <%= csrf_meta_tags %> 
</head>

<body>
	<script language="javascript">
	    $(document).ready(function() {
	        $("#error_message").fadeOut(10000);
	        $("#warning_message").fadeOut(10000);
	    });
	</script>
	<br>
    <div class="container">
	    <% unless session[:famille_id].nil? %>
	    	<div style="float:right">
		       <%= link_to "Déconnexion", '/moncompte/famillelogout' %>
		    </div>
	    <% end %>
		<br>
        <%= image_tag 'playground.png', width:30 %>
        <%= image_tag 'diner.png', width:30 %>
	    <%= image_tag 'picnic.png', width:30 %>
	    <% if session[:famille_id] %>	
            <% f = Famille.find(session[:famille_id]) %>	
            <br>
	        <h4><%= link_to f.mairie.nom, "/moncompte/famillelogin" %></h4>
        <% end %>
	
	    <hr>
	    <div id="error_message">  <%= flash[:notice] %> </div>
	    <div id="warning_message"><%= flash[:warning] %></div>

		<%= yield -%>
   </div>
   <% unless request.host == 'localhost' %>
	   <%= render "layouts/ga" %>
   <% end %>
</body>
</html>
