<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>openCantine</title>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag '/stylesheets/standard', :media => "all"  %>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">	
  <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

  <%= csrf_meta_tags %>  

</head>
<body>
   <div class="container">
	<div id="login" class="span-24 last">
	    <% unless session[:user].nil? %>
	         <%= link_to User.find(session[:user]).username, :controller => 'admin', :action => 'user_edit' %>
			| <%= link_to "Paramètres", :controller => 'admin', :action => 'setup' %>
	        | <%= link_to "Aide", :controller => 'admin', :action => 'bienvenue' %>
	        | <%= link_to "Souhaits", :controller => 'todos' %>
	        | <%= link_to "Déconnexion", {:controller => 'admin', :action => 'signout', :id => 0 } %>
	    <% end %>
	</div>

	<div id="title" class="span-10">
           <%= image_tag '/images/playground.png' %>
           <%= image_tag '/images/diner.png' %>
           <%= image_tag '/images/picnic.png' %><br>
           <%= link_to 'openCantine', '/' %>
	</div>
	<div class="span-14 last">
		<h3><%= Ville.find(session[:mairie]).nom if !session[:user].nil? %></h3>	
	</div>


	<div class="span-24 last">
		<div>
			<% if !session[:user].nil? and params[:controller] == 'paiements' %>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="2E6TX7L2NZUH6">
						<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
						<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
					</form>
			<% end %>
		</div>

	    <hr>
	    <div id="error_message">  <%= flash[:notice]  %></div>
	    <div id="warning_message"><%= flash[:warning] %></div>
	</div>

	<div id="menubar" class="span-24 last">
	   <% unless session[:user].nil? %>
		<div class="span-4" id="menu<%= 'Current' if params[:controller] == 'familles' %>">
       			<%= image_tag "/images/school.png"  %>
       			<%= link_to "Familles", :controller => 'familles' %>
		</div>
	    	<div class="span-4" id="menu<%= 'Current' if params[:controller] == 'enfants' %>">
		       <%= image_tag "/images/kid.png"  %>
		       <%= link_to "Enfants", :controller => 'enfants' %>
		</div>
		<div class="span-4" id="menu<%= 'Current' if params[:controller] == 'prestations' %>">
	      		<%= image_tag "/images/diner.png"  %>
	      		<%= link_to "Prestations", :controller => 'prestations' %>
		</div>
		<div class="span-4" id="menu<%= 'Current' if params[:controller] == 'factures' %>">
		       <%= image_tag "/images/factures.png"   %>
		       <%= link_to "Factures", :controller => 'factures' %>  
		</div>
		<div class="span-4 last" id="menu<%= 'Current' if params[:controller] == 'paiements' %>">
		       <%= image_tag "/images/euro.png"   %>
		       <%= link_to "Paiements", :controller => 'paiements' %>
		</div>
	    <% end %>
	</div>
	<div class="span-24 last">
	   <div>
		<%= yield -%>
	   </div> 
    </div>
   </div>
  </body>
</html>
