<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />  

  <% controller = params[:controller] %> 

  <% unless session[:user].nil? %>
    <% user_id = session[:user] %> 
    <% user = User.find(user_id) %>
	<title>openCantine - <%= user.username %></title>
  <% else %>
	 <title>openCantine</title>
  <% end %>

  <%= javascript_include_tag "application", "rails.validations" %>
  <%= stylesheet_link_tag '/stylesheets/standard', :media => "all"  %>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">	
  <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <%= csrf_meta_tags %> 
  <%= favicon_link_tag 'fav.ico' %>
</head>
<body>
	<script language="javascript">
	    $(document).ready(function() {
	        $("#error_message").fadeOut(7000);
	        $("#warning_message").fadeOut(7000);
	    });
	</script>
    <div class="container">
		<div id="login" class="span-24 last">
		    <% unless user_id.nil? %>
		         <%= link_to user.username, :controller => 'admin', :action => 'user_edit' %>
				| <%= link_to "Paramètres", :controller => 'admin', :action => 'setup' %>
		        | <%= link_to "Aide", :controller => 'admin', :action => 'bienvenue' %>
		        | <%= link_to "Participer", :controller => 'todos' %>
		        | <%= link_to "Déconnexion", {:controller => 'admin', :action => 'signout', :id => 0 } %>
		    <% end %>
		</div>

		<div id="title" class="span-10">
	           <%= image_tag 'playground.png' %>
	           <%= image_tag 'diner.png' %>
	           <%= image_tag 'picnic.png' %><br>
	           <%= link_to 'openCantine', '/' %>
		</div>
		<div>
			<br><br>
			<h3><%= link_to Ville.find(session[:mairie]).nom, "/" unless user_id.nil? %></h3>	
		</div>

		<div class="span-24 last">
		    <hr>
		    <div id="error_message">  <%= flash[:notice]  %></div>
		    <div id="warning_message"><%= flash[:warning] %></div>
		</div>

		<div id="menubar" class="span-24 last">
		   <% if ['familles','enfants','prestations','factures','paiements'].include?(controller) %>
				<div class="span-4" id="menu<%= 'Current' if controller == 'familles' %>">
	       			<%= image_tag "school.png"  %>
	       			<%= link_to "Familles", familles_path %>
				</div>
		    	<div class="span-4" id="menu<%= 'Current' if controller == 'enfants' %>">
			       <%= image_tag "kid.png"  %>
			       <%= link_to "Enfants", enfants_path %>
				</div>
				<div class="span-4" id="menu<%= 'Current' if controller == 'prestations' %>">
		      		<%= image_tag "diner.png"  %>
		      		<%= link_to "Prestations", prestations_path %>
				</div>
				<div class="span-4" id="menu<%= 'Current' if controller == 'factures' %>">
			       <%= image_tag "factures.png"   %>
			       <%= link_to "Factures", factures_path %>  
				</div>
				<div class="span-4 last" id="menu<%= 'Current' if controller == 'paiements' %>">
			       <%= image_tag "euro.png"   %>
			       <%= link_to "Paiements", paiements_path %>
				</div>
				<div class="span-24 last" style="background-color: #eee;"></div>
		    <% end %>
		</div>

		<div class="span-24 last">
			<%= yield -%>
    	</div>
   </div>
   <%= render "layouts/ga" %>
</body>
</html>
