<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />  

  <% controller = params[:controller] %> 

  <% unless session[:user].nil? %>
    <% user_id = session[:user] %> 
    <% user = User.find(user_id) %>
	<title>openCantine 4.2 - <%= user.username %></title>
  <% else %>
	<title>openCantine 4.2</title>
  <% end %>

  <%= stylesheet_link_tag 'application', media:"all", "data-turbolinks-track" => true   %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>

  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">

  <!--[if lt IE 8]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <%= csrf_meta_tags %> 
  <%= favicon_link_tag '/fav.ico' %>
</head>
<body>
	<script language="javascript">
	    $(document).ready(function() {
	        $("#error_message").fadeOut(20000);
	        $("#warning_message").fadeOut(20000);
	    });
	</script>
    <div class="container">
		<div style="float:right">
		    <% unless user_id.nil? %>
			    <%= link_to link_to image_tag('school.png', size:'15x15'), familles_path %> 
			    | <%= image_tag('icon_user.png', size:'15x15') %>
			      <%= link_to user.username, admin_user_edit_path %>
		        | <%= link_to "Journal", logs_path %>
				| <%= link_to "Paramètres", admin_setup_path %>
		        | <%= link_to "Aide", admin_bienvenue_path %>
		        | <%= link_to "Déconnexion", admin_signout_path %>
		    <% end %>
		</div>
		<br><br>

		<div>
           <%= link_to image_tag('playground.png', width:30), familles_path %>
           <%= link_to image_tag('diner.png', width:30), familles_path %>
           <%= link_to image_tag('picnic.png', width:30),familles_path %>
           <br>
           <h3>
           		<%= link_to 'openCantine', familles_path %>
           		<% if user_id %>
	           		/ <%= link_to Ville.find(session[:mairie]).nom, familles_path %>
	           	<% end %>	
       		</h3>
		</div>

		<div>
		    <div id="error_message">  <%= flash[:notice]  %></div>
		    <div id="warning_message"><%= flash[:warning] %></div>
		</div>

		<div id="menubar" class="span-24 last">
		   <% if ['familles','enfants','prestations','factures','paiements'].include?(controller) %>
				<div class="span-4" id="menu<%= 'Current' if controller == 'familles' %>">
	       			<%= image_tag("school.png", width:30) %>
	       			<%= link_to "Familles", familles_path %>
				</div>
		    	<div class="span-4" id="menu<%= 'Current' if controller == 'enfants' %>">
			       <%= image_tag("kid.png", width:30)  %>
			       <%= link_to "Enfants", enfants_path %>
				</div>
				<div class="span-4" id="menu<%= 'Current' if controller == 'prestations' %>">
		      		<%= image_tag("diner.png", width:30)  %>
		      		<%= link_to "Prestations", prestations_path %>
				</div>
				<div class="span-4" id="menu<%= 'Current' if controller == 'factures' %>">
			       <%= image_tag("factures.png", width:30)   %>
			       <%= link_to "Factures", factures_path %>  
				</div>
				<div class="span-4 last" id="menu<%= 'Current' if controller == 'paiements' %>">
			       <%= image_tag("euro.png", width:30)   %>
			       <%= link_to "Paiements", paiements_path %>
				</div>
				<div class="span-24 last" style="background-color: #eee;"></div>
		    <% end %>
		</div>
		<div class="span-24 last">
			<%= yield -%>
    	</div>
   </div>
   <% unless request.host == 'localhost' %>
	   <%= render "layouts/ga" %>
   <% end %>
</body>
</html>
